<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff"/>
    <meta name="description"
          content="La Scop Accolade est spécialisé dans le développement de solutions numériques web et mobile">
    <title>Scoop Accolade</title>
    <link href="/assets/styles/styles.css" rel="stylesheet">
</head>

<body>

<header class="sticky">

    <nav>

        <a href="https://accolade.coop/" class="logo-accolade">

            <img src="/assets/imgs/logo-accolade-element.svg" alt="logo Scoop ACCOLADE" height="60" width="60">

            <div>
                <div>Ac<span class="vert">co</span>la<span class="vert">de</span></div>
                <div>Vers le numérique eco-responsable</div>
            </div>

        </a>

        <ol class="menu">

            <li>
                <a href="/" class="btn">Accueil</a>
            </li>
            <li>
                <a href="/valeurs/" class="btn">Valeurs</a>
            </li>
            <li>
                <a href="/services/" class="btn">Services</a>
            </li>
            <li>
                <a href="mailto:contact@accolade.coop" class="btn --contact">Contact</a>
            </li>

        </ol>

        <div class="burger">

            <span class="material-icons">menu</span>

        </div>
    </nav>

</header>

<main>
    {{ content | safe }}
</main>

<footer>
    <div class="container">
       <!--  <a href="#">Mentions légales</a> -->
        <p>Scop ACCOLADE (SARL à capital variable) - © Tous droits reservés - 2023</p>
    </div>
</footer>

</body>
</html>
