---
title: Activateur France Num
tags: post
---

Objectif : Accompagner et aider les TPE/PME à passer au numérique

1 - A fait l’objet d’un certain nombre de vérifications ;

2 - Est informée des aides et dispositifs existants en faveur des TPE et PME ;

3 - S’est engagée à offrir un premier rendez-vous gratuit à l’entreprise pour l’aider à définir son projet
 et le cas échéant la réorienter vers un autre Activateur s’il n’est pas en mesure de répondre à son besoin.

 Nous nous sommes engagé :
 - à accuser réception des messages qui leur sont envoyés dans un délai de 48h maximum (jours ouvrés) en confirmant la prise en compte de la demande reçue ;
 - à réserver le meilleur accueil aux entreprises qu’ils accompagnent : courtoisie, écoute des attentes de l’entreprise, clarté des réponses apportées ainsi que le respect des délais annoncés ;
 - à assurer le suivi du projet tel que défini avec l’entreprise en début de mission ;
 - à communiquer de façon précise et en des termes simples sur la nature et la tarification des services et solutions proposés.