<section class="slogan services">

    <div class="container">

        <h1>NOS SERVICES</h1>

        <p>Se démarquer dans un monde numérique <br/>en constante évolution</p>

    </div>

</section>

<section class="sticky">

    <ol class="sous-menu">
        <li><a href="#POLES" class="btn --contact">Pôles</a></li>
        <li><a href="#EQUIPE" class="btn --contact">Equipe</a></li>
    </ol>

</section>

<section id="POLES">

    <div class="container">

        <h1 class="big-title">
            4 pôles pour aider nos clients <br/> à améliorer leur efficacité opérationnelle
        </h1>

        <div class="card --detail-service -developpement"  id="DEVELOPPEMENT">

            <article>

                <h1>DEVELOPPEMENT<small>Web & Mobile</small></h1>

                <div>
                    <h3>Proposer un service de développement pour répondre aux besoins des entreprises cherchant à se
                        démarquer dans le monde numérique en constante évolution.</h3>

                    <p>Passionnés par l'innovation et la technologie, nous travaillons en étroite collaboration avec nos
                        clients pour créer des solutions personnalisées et efficaces, en utilisant les dernières
                        technologies et les meilleures pratiques de l'industrie.</p>

                    <p>Soucieux de la qualité et de la performance de nos produits, nous collaborons étroitement avec
                        tout
                        nos clients pour nous assurer qu’ils soient satisfaits de nos résultats. Flexibles, nous nous
                        adaptons facilement aux changements de spécifications ou de besoins.</p>

                    <p>Une écoute constante tout au long du processus de développement alliée à nos compétences et nos
                        connaissances approfondies en matière de technologies clés du développement web et applicatif,
                        (langages de programmation les plus récents, bases de données et systèmes de gestion de contenu,
                        sécurité) vous assurent de la robustesse, de la fiabilité et de la sécurisation de votre
                        projet.</p>

                </div>

            </article>

            <div></div>

        </div>

        <div class="card --detail-service --reverse -formation" id="FORMATION">

            <article>

                <h1>FORMATION<small>& Encadrement d'équipe</small></h1>

                <div>
                    <h3>Aider les entreprises à développer les compétences de leur personnel, afin de stimuler la
                        croissance
                        de l'entreprise et améliorer la productivité de son (ses) équipes.</h3>


                    <p>Notre équipe de formateurs expérimentés est dédiée à fournir des services de formation et
                        d'encadrement professionnels, adaptés aux besoins spécifiques de chaque entreprise.</p>

                    <p>Nous croyons que la formation et l'encadrement sont essentiels pour améliorer la productivité et
                        la
                        satisfaction au travail. En investissant dans le développement de leur personnel, les
                        entreprises
                        peuvent stimuler la croissance et la rentabilité de l'entreprise tout en offrant à leur
                        personnel
                        des opportunités de développement professionnel.</p>

                    <p>Nous travaillons donc en étroite collaboration avec nos clients pour comprendre leurs besoins en
                        matière de formation et d'encadrement, et pour élaborer des programmes sur mesure qui répondent
                        à
                        leurs besoins et proposont également des services de coaching individuel et de mentorat pour
                        aider
                        les membres de leur(s) équipe(s) à atteindre leur plein potentiel et à se développer
                        professionnellement.</p>
                </div>

            </article>

            <div></div>

        </div>

        <div class="card --detail-service  -audit"  id="AUDIT">

            <article>

                <h1>AUDIT<small>& Conseils</small></h1>

                <div>
                    <h3>Notre service de Conseil & Audit est conçu pour aider nos clients à améliorer leur efficacité
                        opérationnelle tout en adoptant une approche numérique responsable garantissant ainsi la
                        durabilité
                        et la responsabilité sociale de leur entreprise.</h3>

                    <p>Toujours en étroite collaboration avec nos clients pour comprendre leurs besoins en matière de
                        numérique responsable et élaborer des solutions sur mesure répondant à leurs besoins, notre
                        équipe
                        de conseillers expérimentés propose une gamme de services de conseil, allant de la planification
                        stratégique, la gestion de projet, la gestion des risques, à la gestion de la qualité et
                        l'amélioration des processus.</p>

                    <p>Nous offrons également des services d'audit pour aider les entreprises à évaluer leur efficacité
                        opérationnelle tout en identifiant les opportunités d'amélioration en matière de numérique
                        responsable.</p>

                    <p>Nous croyons que le numérique responsable est essentiel pour garantir la durabilité et la
                        responsabilité sociale des entreprises. En travaillant avec nous, les entreprises peuvent
                        adopter
                        des pratiques numériques responsables qui respectent les normes environnementales et
                        éthiques.</p>
                </div>

            </article>

            <div></div>

        </div>

        <div class="card --detail-service --reverse -laboratoire"  id="LABORATOIRE">

            <article>

                <h1>LABORATOIRE<small>& Projets internes</small></h1>

                <div>
                    <h3>Notre département "Laboratoire & Projets internes" se dédie aux développements numériques
                        responsables.</h3>

                    <p>Passionnés par l'innovation, nous sommes constamment à la recherche de nouvelles façons
                        d'intégrer
                        des pratiques numériques responsables dans nos projets, car nous sommes convaincus que la
                        responsabilité environnementale et sociale est essentielle pour garantir le succès à long terme
                        de
                        nos projets.</p>

                    <p>Développeurs, designers et spécialistes en numérique responsable travaillent donc ensemble sur
                        des
                        projets internes et externes afin de réaliser des solutions innovantes qui repondent certes aux
                        besoins de nos clients mais surout en respectant les normes environnementales et éthiques.</p>

                    <p>Soyez certain que vous travaillez avec une équipe passionnée qui se consacre à la création de
                        solutions numériques réellement responsables aynat un impact positif sur la société.</p>
                </div>

            </article>

            <div></div>

        </div>

    </div>

</section>

<section id="EQUIPE">

    <div class="container">

        <h1 class="big-title">
            NOTRE EQUIPE <br/> passionnée et à toujours l'écoute ...
        </h1>

        <div class="equipiers-list">

            <article class="card --equipier">

                <figure>
                    <img src="/assets/imgs/YANNICK.jpg">
                </figure>

                <h3>Yanncik DOMENJOUG<small>Co-fondateur (gérant)<br/><em>sdfsd df dfdff f</em></small></h3>

                <P>sdlm fsdsf fsdflsdfjsdf sfssdf ldfjlsfkjlsdkfjlsdsf d kfjsldfsd fsls sdf f</P>

            </article>

            <article class="card --equipier">

                <figure>
                    <img src="/assets/imgs/JEROME.jpg">
                </figure>

                <h3>Jérôme POË<small>Co-fondateur<br/><em>Intégrateur front - Webdesigner</em></small></h3>

                <P>sdlm fsdsf fsdflsdfjsdf sfssdf ldfjlsfkjlsdkfjlsdsf d kfjsldfsd fsls sdf f</P>

            </article>

            <article class="card --equipier">

                <figure>
                    <img src="/assets/imgs/MICHAEL.jpg">
                </figure>

                <h3>Michaël GROSIO-COUTO<small>Co-fondateur<br/><em>Développeur</em></small></h3>

                <P>sdlm fsdsf fsdflsdfjsdf sfssdf ldfjlsfkjlsdkfjlsdsf d kfjsldfsd fsls sdf f</P>

            </article>

        </div>

    </div>

</section>
