// ****************** ELEMENTS ***************

strong
  font-family: roboto-medium, sans-serif

em
  font-style: italic

.sticky
  position: sticky
  top: 0
  z-index: 100


.accolade
  font-family: courier_primeregular, sans-serif
  background: linear-gradient(to right, #343a40  0%, #343a40 24%, #7a9a3d 25%, #7a9a3d 49%, #343a40 50%, #343a40 74%, #7a9a3d 75%, #7a9a3d 100%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent


.logo-accolade
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: center
  column-gap: 10px
  font-size: $acc-fontsize-10
  color: get('palettes.gray.400',$acc-parameters)
  height: 80px
  line-height: 1
  text-decoration: none
  > *:nth-child(2)
    display: flex
    flex-flow: column wrap
    color: get('palettes.gray.100',$acc-parameters)
    .vert
      color: get('palettes.interface.vert',$acc-parameters)
    > *:first-child
      font-family: courier_primeregular, sans-serif
      font-size: $acc-fontsize-34


h1.big-title
  font-family: roboto-light, sans-serif
  font-style: normal
  line-height: 1
  font-size: $acc-fontsize-40
  text-align: center
  padding: 80px 0


.btn
  display: inline-flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-content: center
  gap: 10px
  font-family: roboto-condensed-regular, sans-serif
  font-size: inherit
  font-weight: 300
  text-decoration: none
  padding: $acc-fontsize-14
  background-color: white
  transition: background-color 100ms ease-in
  > *
    display: flex
    align-items: center
  > .material-icons
    font-size: 2em
  &:hover, &.active, &:active
    background-color: get('palettes.interface.bleu', $acc-parameters)
    color: white
  &.--contact
    color: get('palettes.interface.bleu', $acc-parameters)
    border: 1px solid get('palettes.interface.bleu', $acc-parameters)
    &:hover, &.active, &:active
      background-color: get('palettes.interface.bleu', $acc-parameters)
      color: white


.savoir-plus
  text-align: right
  >.btn
    color: get('palettes.interface.bleu', $acc-parameters)
    background-color: transparent
    padding: 0 .875rem
    &::after
      content: "\276F"
      font-size: 3em
    &:hover, &.active, &:active
      background-color: get('palettes.interface.bleu', $acc-parameters)
      color: white
  &.--discreet
    > .btn
      font-size: .875rem
      padding: 0
      border-bottom: 1px solid transparent
      &::after
        content: "\279E"
        font-size: 1.375em
      &:hover, &.active, &:active
        background-color: transparent
        color: get('palettes.interface.bleu', $acc-parameters)
        border-bottom: 1px solid get('palettes.interface.bleu', $acc-parameters)


section
  position: relative

.container
  max-width: 1100px
  padding: 0 20px
  margin: 0 auto


.mentions
  background-color: white
  padding: 40px
  margin: 20px auto
  .accolade
    font-size: $acc-fontsize-32
  h1
    font-family: roboto-light, sans-serif
    font-size: $acc-fontsize-34
  h2
    font-family: roboto-regular, sans-serif
    font-size: $acc-fontsize-29
  h3
    font-family: roboto-condensed-black, sans-serif
    font-size: $acc-fontsize-16
    flex: 1 1 auto
    &:after
      content: ' : '
      padding-right: 20px
  section
    display: flex
    width: 100%
    flex-flow: row wrap
    justify-content: flex-start
    align-items: center


header
  position: relative
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: center
  background-color: white
  height: 80px
  border-bottom: 1px solid get('palettes.gray.700', $acc-parameters)
  padding: 0 20px

  #smart-menu
    position: absolute
    display: none
    top: 0
    left: 0
    right: 0
    > a
      text-decoration: none
    &.displayed
      display: flex
      flex-flow: row nowrap
      justify-content: space-evenly
      align-items: center
      background-color: white
      border-bottom: 1px solid get('palettes.gray.600', $acc-parameters)
      padding: 10px
      animation: slide .3s ease-in forwards


  > nav
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    width: 100%
    max-width: 1280px
    margin: auto
    background-color: white
    img
      height: 60px
    .burger
      display: none
      position: relative
      color: get('palettes.gray.200', $acc-parameters)
      font-size: $acc-fontsize-25
      cursor: pointer
      &:hover, &:active
        color: get('palettes.interface.bleu', $acc-parameters)
      &::before
        font-size: $acc-fontsize-18
        content: '\2630'
    .menu
      display: flex
      flex-flow: row wrap
      justify-content: space-between
      align-items: center
      gap: 5px


main
  > .sticky
    top: 80px

  .slogan
    position: relative
    display: flex
    flex-flow: column wrap
    justify-content: flex-start
    align-items: center
    width: 100%
    height: 600px
    color: white
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5)
    line-height: 1
    text-align: center
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    &:not(.home)
      p
        font-family: "roboto-thin", sans-serif
        font-size: 2rem
    &.home
      background-image: url("/assets/imgs/slogan-home.webp")
      h1::after
        display: none
    &.valeurs
      background-image: url("/assets/imgs/slogan-valeurs.webp")
      background-position: bottom
    &.services
      background-image: url("/assets/imgs/slogan-services.webp")
    &.realisations
      background-image: url("/assets/imgs/slogan-realisations.webp")
    &.blog
      background-image: url("/assets/imgs/slogan-blog.webp")
    &:before
      position: absolute
      top: 0
      content: ''
      width: 100%
      height: 100%

    h1
      position: relative
      font-family: 'antonregular', sans-serif
      font-size: $acc-fontsize-40
      line-height: 1.4
      padding: 130px 0 45px 0
      margin: auto
      max-width: 900px
      &::after
        position: absolute
        bottom: 30px
        left: calc(50% - 100px)
        content: ''
        width: 200px
        height: 3px
        background-color: get('palettes.interface.bleu', $acc-parameters)

    p
      font-family: 'roboto-condensed-regular', sans-serif
      font-size: $acc-fontsize-25
      max-width: 1000px


  .amorce
    position: relative
    margin-top: -100px
    .blog
      display: grid
      grid-template-columns: 1fr 1fr 1fr
      grid-template-rows: auto
      gap: 20px
      margin: 0 auto 40px auto
      &.--mono
        grid-template-columns: 1fr
      > .card.--blog
        h1
          font-family: "roboto-bold", sans-serif
          font-size: $acc-fontsize-18
          flex: 1
        .card.--identity
          width: 100%
          flex: 0


  .card
    margin: auto

    &.--valeurs
      font-family: roboto-regular, sans-serif
      > h1
        font-family: roboto-medium, sans-serif
        font-size: $acc-fontsize-40
        margin-bottom: 2rem
        text-align: center
      > h2
        font-family: roboto-light, sans-serif
        font-size: $acc-fontsize-22
        line-height: 1
        text-align: center
        margin: 0 auto 2rem auto
      > p
        font-size: $acc-fontsize-16
        max-width: 1024px
        margin: 0 auto 40px


    &.--detail-valeur
      display: flex
      flex-flow: row wrap
      scroll-margin-top: 90px
      margin: 0 60px 60px 0
      background-color: get('palettes.gray.white', $acc-parameters)
      min-width: 340px
      &:nth-child(2n+1)
        flex-direction: row-reverse
      > *
        flex: 1
        min-width: 350px
      article
        padding: 30px 40px
        font-family: roboto, sans-serif
        font-size: $acc-fontsize-16
        h1
          font-family: roboto-light, sans-serif
          font-size: $acc-fontsize-40
          color: get('palettes.interface.vert', $acc-parameters)
        h2
          line-height: 1.4
      .chiffres
        display: flex
        flex-flow: column nowrap
        justify-content: center
        align-items: center
        font-family: roboto-black, sans-serif
        font-size: $acc-fontsize-14
        color:  get('palettes.gray.100', $acc-parameters)
        padding: 40px
        > *
          margin-bottom: .5rem
      &#responsable
        .chiffres
          background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, .2)), url("/assets/imgs/valeur-responsable.webp")
          background-position: center center
          background-size: cover
      &#solidaire
        .chiffres
          background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, .2)), url("/assets/imgs/valeur-solidarite.webp")
          background-position: center center
          background-size: cover
      &#perenite
        .chiffres
          background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, .2)), url("/assets/imgs/valeur-perenite.webp")
          background-position: center center
          background-size: cover
      &#equite
        .chiffres
          background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, .2)), url("/assets/imgs/valeur-equite.webp")
          background-position: center center
          background-size: cover
      &#bienetre
        .chiffres
          background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, .2)), url("/assets/imgs/valeur-bienetre.webp")
          background-position: center center
          background-size: cover
      &#democratie
        .chiffres
          background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, .2)), url("/assets/imgs/valeur-democratie.webp")
          background-position: center center
          background-size: cover


    &.--detail-service
      display: flex
      flex-flow: row wrap
      padding: 100px 0 0 0
      margin: 60px auto
      background-repeat: no-repeat
      background-size: 1000px 600px
      background-position: top -100px left 100px
      scroll-margin-top: 90px
      &:nth-child(2n+1)
        flex-direction: row-reverse
        background-position: top -100px right 100px
      &.-developpement
        margin-top: 0
        background-image: url("/assets/imgs/service-developpement.webp")
        article
          h1
            color: get('palettes.interface.vert', $acc-parameters)
      &.-formation
        background-image: url("/assets/imgs/service-formation.webp")
        article
          h1
            color: get('palettes.interface.rouge', $acc-parameters)
      &.-audit
        background-image: url("/assets/imgs/service-audit.webp")
        article
          h1
            color: get('palettes.interface.jaune', $acc-parameters)
      &.-laboratoire
        background-image: url("/assets/imgs/service-laboratoire.webp")
        article
          h1
            color: get('palettes.interface.bleu', $acc-parameters)
      article
        padding: 30px 40px
        font-family: roboto, sans-serif
        font-size: $acc-fontsize-16
        background-color: get('palettes.gray.white', $acc-parameters)
        box-shadow: 14px 14px 20px rgba(0, 0, 0, 0.12)
        h1
          font-family: roboto-light, sans-serif
          font-size: $acc-fontsize-32
          small
            display: block
            color: get('palettes.gray.100', $acc-parameters)
        h2
          line-height: 1.4
      > *
        &:nth-child(1)
          flex: 0 0 70%
        &:nth-child(2)
          flex: 0 0 30%


    &.--blog
      display: flex
      flex-flow: column nowrap
      justify-content: flex-start
      align-items: flex-start
      background-color: get('palettes.gray.white', $acc-parameters)
      border-bottom: 1px solid get('palettes.gray.500', $acc-parameters)
      padding: 30px
      height: 180px
      box-shadow: 14px 14px 20px rgba(0, 0, 0, 0.12)
      &.--intro
        grid-column: span 3
        height: auto
        border-bottom-color: get('palettes.interface.vert', $acc-parameters)
        h2
          font-family: roboto-black
          width: 100%
          font-size: 36px
          text-align: center
          color: get('palettes.gray.100', $acc-parameters)
          + p
            font-size: 28px
            text-align: center
            + p
              font-size: $acc-fontsize-16


    &.--identity
      display: flex
      flex-flow: row nowrap
      justify-content: flex-start
      align-items: center
      column-gap: 20px
      > figure
        display: flex
        flex-flow: column nowrap
        justify-content: center
        align-items: center
        border-radius: 50%
        height: 45px
        width: 45px
        overflow: hidden
        > img
          object-fit: cover
      > aside
        font-family: roboto-light, sans-serif
        font-size: $acc-fontsize-14
        > div
          font-family: roboto-regular, sans-serif
          color: get('palettes.interface.vert', $acc-parameters)


    &.--equipier
      display: flex
      flex-flow: column-reverse nowrap
      justify-content: flex-start
      align-items: center
      > figure
        width: 200px
        height: 200px
        display: flex
        flex-flow: column nowrap
        justify-content: center
        align-items: center
        overflow: hidden
        border-radius: 50%
        margin-bottom: 40px
        border: 3px solid get('palettes.interface.bleu',$acc-parameters)
        > img
          width: 100%
          height: 100%
          object-fit: cover
      > h2
        text-align: center
        small
          padding: 10px 0
          font-family: roboto, sans-serif
          color: get('palettes.gray.400',$acc-parameters)
          display: block


    &.--realisation
      background-color: get('palettes.gray.white',$acc-parameters)
      background-size: cover
      border: 1px solid get('palettes.gray.600',$acc-parameters)
      box-shadow: 14px 14px 20px rgba(0, 0, 0, 0.12)
      width: 100%
      height: 100%
      margin: 40px 0
      h1
        font-family: antonregular, sans-serif
        font-size: $acc-fontsize-32
        background-color: get('palettes.interface.bleu',$acc-parameters)
        color: white
        margin: 0
        padding: 40px
      .savoir-plus
        margin: 20px
      section
        background-color: get('palettes.gray.900',$acc-parameters)
        display: flex
        flex-flow: row wrap
        justify-content: space-between
        align-items: flex-start
        column-gap: 40px
        padding: 40px
        p
          flex: 1 1 60%
        ol
          display: flex
          flex-flow: column wrap
          justify-content: flex-start
          align-items: flex-start

          > li
            font-size: $acc-fontsize-14
            color: get('palettes.gray.200',$acc-parameters)
            &::before
              content: "\276F"
              padding-right: 5px
              color: get('palettes.interface.vert',$acc-parameters)

      > a
        position: relative
        display: block
        text-decoration: none
        width: 100%
        height: 100%
        overflow: hidden
        > h1
          position: absolute
          bottom: 100%
          display: flex
          flex-flow: column wrap
          justify-content: center
          align-items: center
          width: 100%
          height: 100%
          text-align: center


          transition: 500ms ease-in-out
        &:hover
          > h1
            bottom: 0


    &.--article
      display: flex
      flex-flow: row wrap
      justify-content: flex-start
      align-items: flex-start
      column-gap: 40px
      border: 1px solid get('palettes.gray.700',$acc-parameters)
      padding: 20px
      margin-bottom: 40px
      box-shadow: 14px 14px 20px rgba(0, 0, 0, 0.12)
      text-decoration: none
      > *
        &:last-child
          flex: 1
          display: flex
          flex-flow: column nowrap
          justify-content: flex-start
          align-items: flex-start
          > *
            flex: 0 0 auto
          > h1
            font-family: "roboto-bold", sans-serif
            font-size: 1.125rem
          > p
            font-size: 1rem
          > ul
            display: flex
            column-gap: 20px
            margin-bottom: 20px
            li
              font-size: .750rem
              color:  get('palettes.gray.400', $acc-parameters)
        &:first-child
          flex: 0 0 auto
          > figure
            display: flex
            flex-flow: column wrap
            justify-content: center
            align-items: center
            width: 220px
            height: 220px
            overflow: hidden
            > img
              object-fit: cover
              height: 100%
              width: 100%
      &:hover
        color: inherit

    &.--detail-realisation


  .valeurs-list
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: auto
    gap: 20px
    max-width: 1024px
    margin: 0 auto 40px
    a
      display: flex
      text-decoration: none
      padding: 30px
      height: 100%
      background-color: get('palettes.gray.white', $acc-parameters)
      border-bottom: 1px solid get('palettes.gray.500', $acc-parameters)
      &:hover
        color: get('palettes.gray.black', $acc-parameters)
        box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.12)
        transition: all 100ms ease-in
        > ul
          > li
            &.title
              font-family: roboto-condensed-black, sans-serif
      > ul
        > li
          &:not(:first-child)
            font-size: $acc-fontsize-14
            margin-left: 40px
            list-style-type: circle
          &.title
            font-family: roboto-condensed-regular, sans-serif
            text-transform: uppercase
            font-size: $acc-fontsize-25
            color: get('palettes.interface.vert', $acc-parameters)
            margin-bottom: 1rem
            cursor: pointer


  .services-list
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: auto
    gap: 1px
    background-color: get('palettes.gray.600', $acc-parameters)
    margin: 0 auto 40px
    max-width: 1024px
    > a
      display: flex
      flex-flow: column wrap
      justify-content: center
      align-items: center
      height: 280px
      background-color: get('palettes.gray.white', $acc-parameters)
      font-family: roboto-light, sans-serif
      font-size: $acc-fontsize-29
      line-height: 1
      text-align: center
      text-decoration: none
      transition: all 100ms ease-in
      &:hover
        color: get('palettes.gray.100', $acc-parameters)
        > span
          font-family: roboto-bold, sans-serif
      &:nth-child(1)
          span
            text-transform: uppercase
            color: get('palettes.interface.vert', $acc-parameters)
      &:nth-child(2)
          span
            text-transform: uppercase
            color: get('palettes.interface.rouge', $acc-parameters)
      &:nth-child(3)
          span
            text-transform: uppercase
            color: get('palettes.interface.jaune', $acc-parameters)
      &:nth-child(4)
          span
            text-transform: uppercase
            color: get('palettes.interface.bleu', $acc-parameters)


  .realisations-list
    display: grid
    grid-template-columns: 1fr 1fr
    grid-auto-rows: 290px
    gap: 20px
    margin-bottom: 40px


  .equipiers-list
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: auto
    gap: 20px


  .article-list
    h1
      padding-bottom: 10px
    &__tri
      display: flex
      flex-flow: row wrap
      justify-content: center
      align-items: flex-start
      column-gap: 20px
      margin-bottom: 20px
      a
        text-decoration: none
        color:  get('palettes.interface.bleu', $acc-parameters)
        &:hover, &:focus, &.active
          text-decoration: underline
    &__mots
      display: flex
      flex-flow: row wrap
      justify-content: center
      align-items: flex-start
      column-gap: 20px
      margin-bottom: 20px
      a
        font-size: $acc-fontsize-14
        text-decoration: none
        color:  get('palettes.gray.400', $acc-parameters)
        &:hover, &:focus, &.active
          text-decoration: underline


  .sous-menu
    width: 100%
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center
    column-gap: 30px
    background-color: get('palettes.gray.900', $acc-parameters)
    li
      margin: 40px 0
      a
        font-family: roboto, sans-serif
        text-transform: uppercase
        font-size: $acc-fontsize-14


  .collection
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center
    gap: 40px
    margin: 0 0  40px 0
    background-color: get('palettes.gray.white', $acc-parameters)
    padding: 40px


footer
  background-color: white
  overflow: hidden
  border-top: 1px solid get('palettes.gray.700', $acc-parameters)
  font-size: $acc-fontsize-12
  color: get('palettes.gray.200', $acc-parameters)
  padding: 20px 0
  > .container
    display: flex
    flex-flow: column wrap
    justify-content: center
    align-items: center
    row-gap: 10px
    > *
      text-align: center


+respond-inf(lg)
  #smart-menu.displayed
    display: none
  .container
    max-width: 800px
    padding: 0
  .slogan:not(.home)
    height: 350px
    h1
      padding-top: 40px
  h1.big-title
    font-size: $acc-fontsize-34
    padding: 40px 0
  main

    .card
      &.--detail-valeur
        flex-direction: column !important
        margin: auto
      &.--detail-realisation
        flex-direction: column !important
        margin: auto
      &.--detail-service
        display: block
        background-image: none !important
        padding: 0


+respond-inf(sm)
  section
    padding: 0 10px
  .mentions
    h2
      font-size: $acc-fontsize-18
    h3::after
      display: none
    section
      display: block
  h1.big-title
    font-size: $acc-fontsize-22

  header
    height: 60px

    .logo-accolade
      margin-left: 20px
      height: 100%
      > img
        height: 50px
    nav
      > .menu
        display: none
      .burger
        display: block
  main
    .slogan
      &:not(.home)
        height: 180px
        h1
          font-size: $acc-fontsize-32
          padding: 35px 0 10px 0
          &:after
            bottom: 8px
        p
          font-size: $acc-fontsize-16
      &.home
        background-image: url("/assets/imgs/slogan-home-sm.webp")
        height: 240px
        h1
          font-size: $acc-fontsize-22
          padding-top: 20px
          padding-bottom: 10px
        p
          font-size: $acc-fontsize-18

      &.valeurs
        background-image: url("/assets/imgs/slogan-valeurs-sm.webp")

      &.services
        background-image: url("/assets/imgs/slogan-services-sm.webp")

      &.realisations
        background-image: url("/assets/imgs/slogan-realisations-sm.webp")

      &.blog
        background-image: url("/assets/imgs/slogan-blog-sm.webp")

    .amorce
      top: 81px
      display: none

    .card
      &.--blog
        grid-column: span 3
        &.--intro
          h2
            font-size: $acc-fontsize-14
          p:nth-child(1)
            font-size: $acc-fontsize-12
      &.--valeurs
        padding: 20px 30px 0 30px
        margin-top: 40px
        h2
          font-size: $acc-fontsize-22
          > small
            font-size: $acc-fontsize-18
        p
          font-size: $acc-fontsize-14
        .valeurs-list
          > a
            grid-column: span 2
      &.--detail-service
        display: block
    .services-list
      > a
        grid-column: span 2
        font-size: $acc-fontsize-25
        > span
          font-size: $acc-fontsize-25
    .equipiers-list
      > .card
        grid-column: span 3


@keyframes slide
  from
    top: 0
    opacity: 0
  to
    top: 60px
    opacity: 1
