<section class="slogan blog">

    <div class="container">

        <h1>LE BLOG</h1>

        <p>Notre engagement : créer des solutions technologiques innovantes tout en tenant compte de l'impact
            environnemental, social et éthique.</p>

    </div>

</section>

<section class="amorce">

    <div class="container">

        <div class="blog  --mono">

            <div class="card --blog">

                <h1>Titre complet de l’article pouvant être long selon les cas</h1>

                <div class="card --identity">

                    <figure>
                        <img src="/assets/imgs/JEROME.webp"/>
                    </figure>

                    <aside>
                        <div>Prénom NOM</div>
                        <date>xx/xx/xxxx</date>
                    </aside>

                </div>

            </div>

        </div>


    </div>

</section>

<section class="article-list">

    <div class="container">

        <h1 class="big-title">TOUS LES ARTICLES</h1>

        <div class="article-list__tri">
            <a href="">par dates</a>
            <a href="">par sujets</a>
            <a href="">par popularités</a>
        </div>

        <div class="article-list__mots">
            <a href="">#intégration</a>
            <a href="">#react</a>
            <a href="">#angular</a>
            <a href="">#nodeJS</a>
        </div>

        <article class="card --article">

            <div>

                <figure>
                    <img src="/assets/imgs/valeur-bienetre.webp"/>
                </figure>

            </div>

            <div>

                <h1>Titre complet de l’article pouvant être long selon les cas</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis. </p>

                <ul>
                    <li>#intégration</li>
                    <li>#react</li>
                    <li>#angular</li>
                    <li>#nodeJS</li>
                </ul>

                <div>

                    <div class="card --identity">

                        <figure>
                            <img src="/assets/imgs/JEROME.webp"/>
                        </figure>

                        <aside>
                            <div>Prénom NOM</div>
                            <date>xx/xx/xxxx</date>
                        </aside>

                    </div>

                </div>

            </div>

        </article>

        <article class="card --article">

            <div>

                <figure>
                    <img src="/assets/imgs/valeur-bienetre.webp"/>
                </figure>

            </div>

            <div>

                <h1>Titre complet de l’article pouvant être long selon les cas</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis. </p>

                <ul>
                    <li>#intégration</li>
                    <li>#react</li>
                    <li>#angular</li>
                    <li>#nodeJS</li>
                </ul>

                <div>

                    <div class="card --identity">

                        <figure>
                            <img src="/assets/imgs/JEROME.webp"/>
                        </figure>

                        <aside>
                            <div>Prénom NOM</div>
                            <date>xx/xx/xxxx</date>
                        </aside>

                    </div>

                </div>

            </div>

        </article>

        <article class="card --article">

            <div>

                <figure>
                    <img src="/assets/imgs/valeur-bienetre.webp"/>
                </figure>

            </div>

            <div>

                <h1>Titre complet de l’article pouvant être long selon les cas</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis. </p>

                <ul>
                    <li>#intégration</li>
                    <li>#react</li>
                    <li>#angular</li>
                    <li>#nodeJS</li>
                </ul>

                <div>

                    <div class="card --identity">

                        <figure>
                            <img src="/assets/imgs/JEROME.webp"/>
                        </figure>

                        <aside>
                            <div>Prénom NOM</div>
                            <date>xx/xx/xxxx</date>
                        </aside>

                    </div>

                </div>

            </div>

        </article>

        <article class="card --article">

            <div>

                <figure>
                    <img src="/assets/imgs/valeur-bienetre.webp"/>
                </figure>

            </div>

            <div>

                <h1>Titre complet de l’article pouvant être long selon les cas</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis. </p>

                <ul>
                    <li>#intégration</li>
                    <li>#react</li>
                    <li>#angular</li>
                    <li>#nodeJS</li>
                </ul>

                <div>

                    <div class="card --identity">

                        <figure>
                            <img src="/assets/imgs/JEROME.webp"/>
                        </figure>

                        <aside>
                            <div>Prénom NOM</div>
                            <date>xx/xx/xxxx</date>
                        </aside>

                    </div>

                </div>

            </div>

        </article>


    </div>

</section>



