<section class="slogan blog --small">

    <div class="container">

        <h1>LE BLOG</h1>


    </div>

</section>

<section class="amorce">

    <div class="container">

        <div class="blog  --mono">

            <div class="card --blog">

                <h1>Notre Scop ACCOLADE est désormais "Activateur France Num".</h1>

                <p>Accolade, en tant qu’Activateur France Num, fait désormais partie de ces experts du numérique du Grand-Est dédiés à accompagner les TPE/PME dans leur transformation digitale.</p>

                <div class="article-list__mots">
                    <a href="">#accompagnement</a>
                    <a href="">#actualités</a>
                    <a href="">#activateur</a>
                    <a href="">#francenum</a>
                </div>

                <section>

                    <div class="card --identity">

                        <figure>
                            <img src="/assets/imgs/JEROME.webp"/>
                        </figure>

                        <aside>
                            <div>Jérôme POË</div>
                            <date>01/10/2023</date>
                        </aside>

                    </div>

                    <div class="savoir-plus">
                        <a href="/" class="btn">
                            <span>LIRE</span>
                        </a>
                    </div>

                </section>
            </div>

        </div>


    </div>

</section>

<section class="article-list">

    <div class="container">

        <h1 class="big-title">TOUS LES ARTICLES</h1>

        <div class="article-list__tri">
            <a href="">par dates</a>
            <a href="">par sujets</a>
            <a href="">par popularités</a>
        </div>

        <div class="article-list__mots">
            <a href="">#accompagnement</a>
            <a href="">#actualités</a>
            <a href="">#activateur</a>
            <a href="">#francenum</a>
        </div>

        <a href="" class="card --article">

            <section>

                <figure>
                    <img src="/assets/imgs/valeur-bienetre.webp"/>
                </figure>

            </section>

            <section>

                <h1>Notre Scop ACCOLADE est désormais "Activateur France Num".</h1>

                <p>Accolade, en tant qu’Activateur France Num, fait désormais partie de ces experts du numérique du Grand-Est dédiés à accompagner les TPE/PME dans leur transformation digitale.</p>

                <ul>
                    <li>#accompagnement</li>
                    <li>#actualités</li>
                    <li>#activateur</li>
                    <li>#francenum</li>
                </ul>

                <div>

                    <div class="card --identity">

                        <figure>
                            <img src="/assets/imgs/JEROME.webp"/>
                        </figure>

                        <aside>
                            <div>Jérôme POË</div>
                            <date>01/10/2023</date>
                        </aside>

                    </div>

                </div>

            </section>

        </a>

    </div>

</section>



