---
title: La valeur equitable
tags: valeur
---

Dans notre société coopérative de développement de logiciel dans le numérique responsable, nous sommes guidés par des valeurs fortes et fondamentales telles que l'équité. Nous croyons que chaque membre de notre coopérative doit être traité avec le respect et la dignité qu'il mérite.

Dans cette optique, nous avons instauré un ratio de salaire de 1/2. Cela signifie que le salaire de notre membre le mieux payé ne peut pas dépasser deux fois celui de notre membre le moins bien payé. Cette mesure vise à réduire les écarts de salaire excessifs et à promouvoir une répartition équitable des richesses au sein de notre coopérative.

De plus, nous sommes fiers de notre transparence salariale. Chaque membre de notre coopérative connaît le salaire de tous les autres membres. Cette transparence salariale favorise une culture de confiance et de collaboration au sein de notre coopérative. Elle permet également de lutter contre les discriminations salariales et de garantir que chaque membre est rémunéré à sa juste valeur en fonction de ses compétences et de son expérience.

Chez notre société coopérative de développement de logiciel dans le numérique responsable, nous sommes convaincus que l'équité est un élément essentiel de notre succès collectif. En adoptant des pratiques équitables, nous encourageons l'engagement de tous nos membres et créons un environnement de travail harmonieux où chacun peut s'épanouir.
