<section class="slogan valeurs">

    <div class="container">

        <h1>NOS VALEURS</h1>

        <p>
            Des engagements pour contribuer à un avenir plus durable
            et plus équitable pour tous. </p>

    </div>

</section>

<section class="sticky">

    <ol class="sous-menu">
        <li><a href="#PRINCIPES">Principes fondamentaux</a></li>
    </ol>

</section>

<section id="PRINCIPES">

    <div class="container">

        <h1 class="big-title">Accolade est fondée sur des principes d'équité, <br/>de solidarité et de coopération.</h1>

        <div class="card --detail-valeur">

            <article>

                <h1>SOLIDAIRE</h1>

                <div>
                    <h3>La valeur "SOLIDAIRE" est au cœur de notre entreprise de développement de logiciels.</h3>

                    <p>Nous sommes convaincus que la solidarité est essentielle pour construire une société plus juste
                        et
                        plus équitable. Nous avons donc mis en place des mesures concrètes pour soutenir cette
                        valeur.</p>

                    <p>Nous soutenons des organisations qui travaillent sur des enjeux de société tels que la lutte
                        contre
                        la pauvreté, l'éducation, l'environnement et les droits de l'homme. Nous reversons donc 10% de
                        nos
                        bénéfices annuels à des associations à but non lucratif.</p>

                    <p>Convaincus que les entreprises de l'ESS jouent un rôle important dans la construction d'une
                        économie
                        plus équitable et durable, nous soutenons activement ces entreprises en leur offrant des
                        réductions
                        tarifaires sur nos services; base pour construire des relations commerciales durables et
                        équitables.</p>
                </div>
            </article>

            <figure>

                    <ul class="chiffres">
                        <li>10% des bénéfices reversés aux associations</li>
                        <li>Réduction tarifaires pour les membres de l'ESS</li>
                    </ul>

                <img src="/assets/imgs/valeur-solidarite.jpg">

            </figure>

        </div>

        <div class="card --detail-valeur --reverse">

            <article>

                <h1>EQUITABLE</h1>

                <div>
                    <h3>L’EQUITE au travail, c’est encourager l'engagement de tous en créant un environnement de travail
                    harmonieux.</h3>

                    <p>Guidés par des valeurs fortes et fondamentales telles que l'équité, nous croyons que chaque membre
                        de notre coopérative doit être traité avec le respect et la dignité qu'il mérite.</p>

                    <p>Dans cette optique, nous avons instauré un ratio de salaire de 1/2. Le salaire de notre membre le
                    mieux payé ne peut pas dépasser deux fois celui de notre membre le moins bien payé. Cette mesure
                        vise à promouvoir une répartition équitable des richesses.</p>

                    <p>Chaque membre de notre coopérative connaît le salaire de tous les autres membres. Cette transparence
                    salariale favorise une culture de confiance et de collaboration au sein de notre coopérative. et
                    permet de lutter contre les discriminations salariales, de garantir que chaque membre est rémunéré à
                        sa juste valeur en fonction de ses compétences et de son expérience.</p>
                </div>

            </article>

            <figure>

                <ul class="chiffres">
                    <li>Ratio de salaire : 1/2</li>
                    <li>Salaire connu de tous</li>
                </ul>

                <img src="/assets/imgs/valeur-equite.jpg">
            </figure>

        </div>

        <div class="card --detail-valeur">

            <article>

                <h1>RESPONSABLE</h1>

                <div>

                    <h3>Etre "RESPONSABLE" est une valeur fondamentale, nous prenons notre responsabilité envers la planète
                    et la communauté très au sérieux.</h3>

                    <p>En tant que Partenaire Green, nous nous sommes engagés à minimiser notre impact environnemental
                    autant que possible. Nous utilisons des sources d'énergie renouvelable, nous recyclons autant que
                    possible et nous minimisons nos déchets. Nous travaillons également en partenariat avec d'autres
                        entreprises qui partagent nos valeurs environnementale.</p>

                    <p>Nous privilégions le transport en train pour nos déplacements professionnels permettant de réduire
                    notre empreinte carbone et offrons à tous nos employés la possibilité de travailler à distance.

                    Nous privilégions les visioconférences, ce qui nous permet de réduire nos émissions de CO2 liées aux
                    déplacements professionnels, d'économiser du temps et de l'argent, tout en restant efficaces et
                        productifs.</p>

                </div>

            </article>

            <figure>

                <ul class="chiffres">
                    <li>Partenaire green</li>
                    <li>Transport en train</li>
                    <li>Visio privilégiée</li>
                    <li>Télétravail à volonté</li>
                    <li>Réduction tarifaires pour les membres de l'ESS</li>
                </ul>

                <img src="/assets/imgs/valeur-responsable.jpg">

            </figure>

        </div>

        <div class="card --detail-valeur --reverse">

            <article>

                <h1>DEMOCRATIQUE</h1>

                <div>

                    <h3>La valeur "démocratique" est au cœur de notre société coopérative.</h3>

                    <p>Nous veillons à ce que chaque membre de notre coopérative soit impliqué, motivé et valorisé. Nous
                    avons donc mis en place des pratiques démocratiques telles que l'élection et la révocation du PDG
                    par les membres de la coopérative. Tous es membres ont leur mot à dire dans les décisions
                        importantes de l'entreprise, guarantissant ainsi que les intérêts de tous soient représentés.</p>

                    <p>En outre, nous avons choisi de laisser les salariés décider des salaires, car nous croyons que
                    chaque membre de l'équipe devrait avoir une voix égale dans la répartition des bénéfices de
                    l'entreprise. Cette approche garantit que les salaires sont équitables et reflètent la contribution
                        individuelle de chacun à l'entreprise.</p>

                    <p>En donnant aux membres de l'équipe la possibilité de proposer et de choisir les projets sur lesquels
                    ils souhaitent travailler, nous créons un environnement de travail motivant et stimulant, qui
                        encourage la créativité et l'innovation.</p>

                </div>

            </article>

            <figure>

                <ul class="chiffres">
                    <li>Le PDG est élu et révocable</li>
                    <li>Salaires décidés par les salariés</li>
                    <li>Choix des projets par les salariés</li>
                </ul>

                <img src="/assets/imgs/valeur-democratie.jpg">

            </figure>

        </div>

        <div class="card --detail-valeur">

            <article>

                <h1>BIEN-ETRE AU TRAVAIL</h1>

                <div>

                    <h3>Nous accordons une grande importance au bien-être de nos employés.</h3>

                    <p>Tout d'abord, nous offrons à nos employés 6 semaines de congés payées. L’équilibre entre vie
                    professionnelle et vie privée est essentiel pour un bien-être global et une satisfaction
                        professionnelle.</p>

                    <p>En outre, nous avons mis en place une semaine de travail de 35 heures. Une charge de travail
                        équilibrée est essentielle pour préserver la santé et le bien-être de nos employés.</p>

                    <p>Remboursement à 50% les abonnements aux transports en commun de nos employés et prise en charge à
                    100% de la mutuelle santé de nos employés, parce que l'accès à des soins de qualité est un droit
                        fondamental.</p>

                </div>

            </article>

            <figure>

                <ul class="chiffres">
                    <li>6 semaines de congés payés</li>
                    <li>35h / semaine</li>
                    <li>Abonnement transport en commun remboursé à 50%</li>
                    <li>Mutuelle prise en charge à 100% par la société</li>
                </ul>

                <img src="/assets/imgs/valeur-bienetre.jpg">
            </figure>

        </div>

        <div class="card --detail-valeur  --reverse">

            <article>

                <h1>PERENITE</h1>

                <div>

                    <h3>"PERENITE" : création d'une croissance équilibrée et stable à long terme, en plaçant les intérêts de
                        notre personnel et de l'environnement au premier plan de nos décisions.</h3>

                    <p>Nous n'avons pas pour objectif de maximiser les dividendes pour nos actionnaires. Nous préférons
                    réinvestire 45% de nos bénéfices dans la société, en utilisant cet argent pour financer de nouveaux
                        projets, améliorer nos infrastructures et investir dans nos employés.</p>

                    <p>Nous reversons également 45% de nos bénéfices sous forme de primes et de bonus. Cela nous permet de
                    maintenir une équipe de professionnels hautement qualifiés et motivés, ce qui se traduit par des
                        produits de qualité supérieure pour nos clients.</p>

                    <p>Nous nous engageons également à reverser 10% de nos bénéfices à des associations qui travaillent
                        pour des causes sociales et environnementales importantes.</p>

                </div>

            </article>

            <figure>

                <ul class="chiffres">
                    <li>Pas de dividendes</li>
                    <li>50% des bénéfices réinvesti dans la société</li>
                    <li>40% reversés aux salariés</li>
                </ul>

                <img src="/assets/imgs/valeur-perenite.jpg">

            </figure>

        </div>

    </div>

</section>