<section class="slogan valeurs">

    <div class="container">

        <h1>Accolade est une scop spécialisée dans le développement de solutions Web et Mobile</h1>

        <p>Notre engagement : créer des solutions technologiques innovantes tout en tenant compte de l'impact
            environnemental, social et éthique.</p>

    </div>

</section>
