---
title: La valeur SOLIDAIRE
tags: valeur
---

La valeur "SOLIDAIRE" est au cœur de notre entreprise de développement de logiciels. Nous sommes convaincus que la solidarité est essentielle pour construire une société plus juste et plus équitable. C'est pourquoi nous avons mis en place des mesures concrètes pour soutenir cette valeur.

Nous sommes fiers d'annoncer que nous reversons 10% de nos bénéfices annuels à des associations à but non lucratif. Nous avons choisi de soutenir des organisations qui travaillent sur des enjeux de société tels que la lutte contre la pauvreté, l'éducation, l'environnement et les droits de l'homme. En investissant dans ces causes, nous voulons contribuer à un monde meilleur et plus solidaire.

Nous offrons également des réductions tarifaires pour les membres de l'Économie Sociale et Solidaire (ESS). Nous sommes convaincus que les entreprises de l'ESS jouent un rôle important dans la construction d'une économie plus équitable et durable. C'est pourquoi nous soutenons activement ces entreprises en leur offrant des réductions spéciales sur nos services. Nous croyons que cette solidarité est la base pour construire des relations commerciales durables et équitables.

Nous sommes fiers de notre engagement envers la valeur "SOLIDAIRE" et nous continuerons à prendre des mesures concrètes pour soutenir des causes importantes et des entreprises engagées. Rejoignez-nous pour faire partie d'une entreprise qui se soucie de l'impact social et environnemental de ses actions.

