<section class="slogan realisations">

    <div class="container">

        <h1>NOS REALISATIONS</h1>

        <p>Notre engagement : créer des solutions technologiques innovantes tout en tenant compte de l'impact
            environnemental, social et éthique.</p>

    </div>

</section>

<section>

    <div class="container">

        <h1 class="big-title">
            NOS PROJETS
        </h1>


        <div class="realisations-list">

            <article class="card --realisation">

                <h1>PROJET</h1>

                <small>ESS et Société</small>

                <h3>REFONTE SITE WEB</h3>

                <p>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Sodales ut eu sem integer vitae. In mollis nunc sed id. Tortor dignissim
                    convallis
                    aenean et tortor at risus. Non curabitur gravida arcu ac tortor dignissim. Nullam vehicula ipsum a
                    arcu
                    cursus vitae congue mauris.
                </p>

                <div class="savoir-plus">
                    <a href="/valeurs/" class="btn">
                        <span>PLUS DE DETAILS</span>
                        <span class="material-icons">chevron_right</span>
                    </a>
                </div>
            </article>

            <article class="card --realisation">

                <h1>DIVERS</h1>

                <small>ESS et Société</small>

                <h3>REFONTE SITE WEB</h3>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Sodales ut eu sem integer vitae. In mollis nunc sed id. Tortor dignissim
                    convallis
                    aenean et tortor at risus. Non curabitur gravida arcu ac tortor dignissim. Nullam vehicula ipsum a
                    arcu
                    cursus vitae congue mauris.
                </p>

                <div class="savoir-plus">
                    <a href="/valeurs/" class="btn">
                        <span>PLUS DE DETAILS</span>
                        <span class="material-icons">chevron_right</span>
                    </a>
                </div>
            </article>

            <article class="card --realisation">

                <h1 class="--projet">PROJETS CLIENTS</h1>

                <small>ESS et Société</small>

                <h3>REFONTE SITE WEB</h3>

                <p>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Sodales ut eu sem integer vitae. In mollis nunc sed id. Tortor dignissim
                    convallis
                    aenean et tortor at risus. Non curabitur gravida arcu ac tortor dignissim. Nullam vehicula ipsum a
                    arcu
                    cursus vitae congue mauris.
                </p>

                <div class="savoir-plus">
                    <a href="/valeurs/" class="btn">
                        <span>PLUS DE DETAILS</span>
                        <span class="material-icons">chevron_right</span>
                    </a>
                </div>
            </article>

            <article class="card --realisation">

                <h1 class="--produit">PRODUIT CLIENTS</h1>

                <small>ESS et Société</small>

                <h3>REFONTE SITE WEB</h3>

                <p>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Sodales ut eu sem integer vitae. In mollis nunc sed id. Tortor dignissim
                    convallis
                    aenean et tortor at risus. Non curabitur gravida arcu ac tortor dignissim. Nullam vehicula ipsum a
                    arcu
                    cursus vitae congue mauris.
                </p>

                <div class="savoir-plus">
                    <a href="/valeurs/" class="btn">
                        <span>PLUS DE DETAILS</span>
                        <span class="material-icons">chevron_right</span>
                    </a>
                </div>
            </article>

        </div>

    </div>

</section>