<section class="slogan realisations">

    <div class="container">

        <h1>NOS REALISATIONS</h1>

        <p>Asseoir vos connaissances et faire éclore l'innovation</p>

    </div>

</section>

<section>

    <div class="container">

        <h1 class="big-title">
            NOS REALISATIONS
        </h1>


        <div class="realisations-list">

            <article class="card --realisation" style="background-image: url(/assets/imgs/realisation-ess.jpg)">
                <a href="/realisations/detail/ess">
                    <h1 class="--projet client">ESS & SOCIETE</h1>
                </a>
            </article>

            <article class="card --realisation" style="background-image: url(/assets/imgs/realisation-muance.jpg)">
                <a href="/realisations/detail/ess">
                    <h1 class="--projet client">MUANCE</h1>
                </a>
            </article>

            <article class="card --realisation" style="background-image: url(/assets/imgs/realisation-healthcare.jpg)">
                <a href="/realisations/detail/ess">
                    <h1 class="--projet client">HEALTHCARE</h1>
                </a>
            </article>

            <article class="card --realisation" style="background-image: url(/assets/imgs/realisation-kalidea.jpg)">
                <a href="/realisations/detail/ess">
                    <h1 class="--projet client">KALIDEA</h1>
                </a>
            </article>

            <article class="card --realisation" style="background-image: url(/assets/imgs/realisation-gag.jpg)">
                <a href="/realisations/detail/ess">
                    <h1 class="--projet client">GROUPEMENT des ANIMATEURS<b/> en GERONTOLOGIE<br/>(GAG)</h1>
                </a>
            </article>



        </div>

    </div>

</section>