<section class="slogan realisations">

    <div class="container">

        <h1>NOS REALISATIONS</h1>

        <p>Asseoir les connaissances et faire éclore l'innovation</p>

    </div>

</section>

<section>

    <div class="container">

        <h1 class="big-title">
            NOS REALISATIONS
        </h1>


        <div class="realisations-list">

            <article class="card --realisation">

                <h1 class="--projet">PROJETS CLIENTS</h1>

                <small>Ess et Société</small>

                <h3>REFONTE SITE WEB</h3>

                <p>
                    Révision de la charte graphique et refonte complète du site Web initialment développé sous SPIP
                </p>

                <div class="savoir-plus --discreet">
                    <a href="/realisations/detail/ess" class="btn">
                        <span>PLUS DE DETAILS</span>
                    </a>
                </div>
            </article>

            <article class="card --realisation">

                <h1 class="--projet client">PROJETS CLIENTS</h1>

                <small>MUANCE</small>

                <h3>FORMATION & INTEGRATION</h3>

                <p>
                    Formation au développement Angular et intégration d'une interface web d'aide au suivi des étapes de réalisation de constructions modulaires
                </p>

                <div class="savoir-plus --discreet">
                    <a href="/realisations/detail/ess" class="btn --small">
                        <span>PLUS DE DETAILS</span>
                    </a>
                 </div>
            </article>

            <article class="card --realisation">

                <h1 class="--projet">PROJETS CLIENTS</h1>

                <small>Groupement des Animateurs en Gérontologie (G.A.G.)</small>

                <h3>REFONTE SITE WEB</h3>

                <p>
                    Refonte complète du site Web ...
                </p>

                <div class="savoir-plus --discreet">
                    <a href="/realisations/detail/gag" class="btn --small">
                        <span>PLUS DE DETAILS</span>
                    </a>
                </div>
            </article>

            <article class="card --realisation">

                <h1 class="--projet">PROJETS CLIENTS</h1>

                <small>Ou Recycler</small>

                <h3>REFONTE SITE WEB</h3>

                <p>
                    Refonte complète du site Web ...
                </p>

                <div class="savoir-plus --discreet">
                    <a href="/realisations/detail/orc" class="btn --small">
                        <span>PLUS DE DETAILS</span>
                    </a>
                </div>
            </article>

            <article class="card --realisation">

                <h1 class="--projet">PROJETS CLIENTS</h1>

                <small>Kalidea</small>

                <h3>Accompagnement et interventions</h3>

                <p>
                    Développement d'une solution  ...
                </p>

                <div class="savoir-plus --discreet">
                    <a href="/realisations/detail/orc" class="btn --small">
                        <span>PLUS DE DETAILS</span>
                    </a>
                </div>

            </article>

        </div>

    </div>

</section>