<section>

    <div class="container">

        <h1 class="big-title">
            MENTIONS LEGALES
        </h1>

        <article class="mentions">

            <h2>EDITEUR</h2>

            <section>
                <h3>Entreprise</h3>
                <p><span class="accolade">Accolade</span></p>
            </section>

            <section>
                <h3>Forme juridique</h3>
                <p>Société Coopérative à Responsabilite Limitée</p>
            </section>

            <section>
                <h3>Capital</h3>
                <p>12 000€</p>
            </section>

            <section>
                <h3>Immatriculation</h3>
                <p>922 155 833 R.C.S. Nancy</p>
            </section>

            <section>
                <h3>Adresse</h3>
                <p>12 rue Courbet - 54000 NANCY</p>
            </section>

            <section>
                <h3>Email</h3>
                <p>contact@accolade.coop</p>
            </section>

        </article>

        <article class="mentions">
            <h2>HEBERGEMENT</h2>

            <section>
                <h3>Hébergeur</h3>
                <p>GitHub Pages</p>
            </section>

            <section>
                <h3>Adresse</h3>
                <p>88 Colin P Kelly Jr St, San Francisco, CA 94107, United States</p>
            </section>

            <section>
                <h3>Téléphone</h3>
                <p>+1 (877) 448-4820</p>
            </section>
        </article>


    </div>

</section>