<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff"/>
    <meta name="description"
          content="La Scop Accolade est spécialisé dans le développement de solutions numériques web et mobile">
    <title>Scop Accolade</title>
    <link rel="shortcut icon" href="/assets/imgs/logo-accolade-element.png">
    <link rel="apple-touch-icon" href="/assets/imgs/logo-accolade-element.png">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link href="/assets/styles/styles.css" rel="stylesheet">
</head>

<script src="/assets/js/filter-tags.js"></script>
<body>

    {{ content | safe }}

    <footer>

        <img alt="Logo Accolade" height="27" src="/assets/svgs/logo-accolade.svg" width="200"/>

        <div>
            <a href="/pages/mentions-legales.html"> Mentions légales</a>
            <span>&copy; ACCOLADE 2025</span>
            <span>Tous droits reservés</span>
        </div>

    </footer>

</body>
</html>
