---
title: healthcare
tags: detail
---
<section class="slogan realisations --small">

    <div class="container">

        <h1>NOS REALISATIONS</h1>

        <p>Asseoir vos connaissances <br/>et faire éclore l'innovation</p>

    </div>

</section>

<section>

    <div class="container">

        <div class="savoir-plus --discreet">
            <a href="/realisations/" class="btn">
                <span>RETOUR AUX REALISATIONS</span>
            </a>
        </div>

        <article class="card --realisation --detail">

            <h1>HealthCare</h1>

            <section>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>

                <ol>
                    <li>Conseils</li>
                    <li>Intégration html - css</li>
                    <li>Développement React</li>
                </ol>
            </section>

            <img src="/assets/imgs/realisation-healthcare.jpg">

        </article>

        </div>

</section>