html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.15;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -ms-scrollbar-face-color: #DDE0E7;
  -ms-scrollbar-arrow-color: #DDE0E7;
  -ms-scrollbar-track-color: #DDE0E7;
  -ms-scrollbar-shadow-color: #73757B;
  -ms-scrollbar-highlight-color: #73757B;
  -ms-scrollbar-3dlight-color: #73757B;
  -ms-scrollbar-darkshadow-color: #73757B;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
*::-webkit-scrollbar {
  width: 8px;
  background: #eee;
  border: 1px solid #DDE0E7;
  border-radius: 3.2px;
  -webkit-border-radius: 3.2px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 3.2px;
  -webkit-border-radius: 3.2px;
  background: rgba(178, 178, 178, 0.8);
}
*::-webkit-scrollbar-track {
  background: #DDE0E7;
}

*:focus {
  outline: none;
}

*, ::after, ::before {
  box-sizing: border-box;
}

html, body {
  font-family: "Roboto", monospace;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  color: #ffffff;
  background-color: #ffffff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
}
html .material-icons, body .material-icons {
  font-display: swap;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 1em;
}

.mini {
  font-size: 0.5rem;
}

.xxsmall {
  font-size: 0.647rem;
}

.xsmall {
  font-size: 0.765rem;
}

.small {
  font-size: 0.881rem;
}

.normal {
  font-size: 1rem;
}

.large {
  font-size: 1.118rem;
}

.xlarge {
  font-size: 1.295rem;
}

.xxlarge {
  font-size: 1.588rem;
}

.big {
  font-size: 1.823rem;
}

.xbig {
  font-size: 2.118rem;
}

.xxbig {
  font-size: 2.47rem;
}

.thin {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

button, input[type=button] {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1rem;
  color: #F7FAFF;
  background-color: #1f241c;
  border: 1px solid #1f241c;
  border-radius: 3.2px;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 3px 3px 10px #1f241c;
  transition: 200ms all ease;
}
button:not([disabled]):hover, button:not([disabled]).hovered, button:not(.disabled):hover, button:not(.disabled).hovered, input[type=button]:not([disabled]):hover, input[type=button]:not([disabled]).hovered, input[type=button]:not(.disabled):hover, input[type=button]:not(.disabled).hovered {
  transform: scale(1.03);
  box-shadow: 5px 5px 10px #1f241c;
}
button:not([disabled]):active, button:not([disabled]).pressed, button:not(.disabled):active, button:not(.disabled).pressed, input[type=button]:not([disabled]):active, input[type=button]:not([disabled]).pressed, input[type=button]:not(.disabled):active, input[type=button]:not(.disabled).pressed {
  background-color: #BBBDC4;
  border-color: #9C9EA4;
}
button[disabled], button.disabled, input[type=button][disabled], input[type=button].disabled {
  cursor: not-allowed;
  opacity: 30%;
}
button.--group, input[type=button].--group {
  padding: 0.5rem;
}
button.--group > .material-icons:not(:only-child), input[type=button].--group > .material-icons:not(:only-child) {
  font-size: 1.118rem;
  margin: 0 0 0 0.5rem;
}
button.--group.-left, input[type=button].--group.-left {
  flex-direction: row-reverse;
}
button.--group.-left > .material-icons:not(:only-child), input[type=button].--group.-left > .material-icons:not(:only-child) {
  margin: 0 0.5rem 0 0;
}
button.--group.--small, input[type=button].--group.--small {
  font-size: 0.765rem;
  padding: 0.25rem;
}
button.--group.--small > .material-icons:not(:only-child), input[type=button].--group.--small > .material-icons:not(:only-child) {
  margin: 0 0 0 0.25rem;
}
button.--small, input[type=button].--small {
  font-size: 0.881rem;
  padding: 0.25rem 0.5rem;
}

input {
  box-sizing: border-box;
  display: block;
  font-size: 0.881rem;
  height: 36px;
  width: 100%;
  padding: 7px 14px;
  line-height: 1.42857143;
  color: #404248;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #F2F5FC;
  border-radius: 3.2px;
  margin-bottom: 5px;
}
input::placeholder {
  color: #9C9EA4;
}
input:not([disabled]):hover, input:not([disabled]).hovered, input:not(.disabled):hover, input:not(.disabled).hovered {
  border-color: #1f241c;
}
input:not([disabled]):focus, input:not([disabled]).focused, input:not(.disabled):focus, input:not(.disabled).focused {
  border-color: #1f241c;
  outline: 0;
}
input[disabled], input.disabled {
  cursor: not-allowed;
  color: #DDE0E7;
}
input[disabled]:hover, input[disabled].hovered, input[disabled]:focus, input[disabled].focused, input.disabled:hover, input.disabled.hovered, input.disabled:focus, input.disabled.focused {
  cursor: not-allowed;
  color: #DDE0E7;
}
input:invalid, input[invalid] {
  border-color: #FF3333;
}

label {
  display: inline-block;
  font-size: 0.881rem;
  font-weight: 700;
  color: #1f241c;
  margin-bottom: 3px;
}
label.required:after {
  content: "*";
}

header {
  width: 100%;
  padding-top: 40px;
  background: url(../img/motif-g.svg) left top no-repeat, url(../img/motif-d.svg) right top no-repeat, linear-gradient(to right, #1f241c, #1f241c);
  background-size: 10%, 10%;
  background-attachment: fixed, fixed;
}
header img {
  display: block;
  width: 40%;
  height: auto;
  margin: 0 auto;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
main article {
  background-color: #1f241c;
  padding: 40px 30% 20px 30%;
  display: flex;
}
main article::before {
  display: block;
  content: "";
  width: 50px;
  background-image: url(../img/accolade.svg);
  background-position: left top;
  background-repeat: no-repeat;
}
main article > section > h1 > span {
  display: inline-block;
  margin-top: 5px;
  color: #73757B;
}
main article > section > h2 {
  font-weight: 300;
}
main article > section dl {
  margin: 10px 0;
}
main article > section dl dt {
  margin-bottom: 10px;
  font-weight: 700;
  color: #7a9a3d;
}
main article > section dl dt:first-letter {
  font-family: "Courier Prime", monospace;
  font-weight: 300;
  color: #ffffff;
  padding-right: 10px;
}
main aside {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 60px 30%;
  background-color: #7a9a3d;
}
main aside h1 {
  width: 100%;
  max-width: 360px;
  text-align: center;
}
main aside h1 > span {
  font-weight: 300;
}
main aside form {
  width: 100%;
  max-width: 360px;
}
main aside form button {
  display: block;
  width: 100%;
  margin: 0;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  background-color: #1f241c;
  color: #7a9a3d;
  width: 100%;
  padding: 10px 0;
  font-size: 0.647rem;
}
footer a {
  color: #7a9a3d;
  text-decoration: underline;
}

@media (max-width: 991px) {
  body, html {
    font-size: 12px;
  }

  header {
    background-image: none;
    background-color: #1f241c;
  }
  header > img {
    width: 80%;
  }

  main article {
    padding: 40px 10%;
  }
  main aside {
    gap: 0;
    padding: 15px 10%;
  }
}

/*# sourceMappingURL=styles.css.map */
