<header style="background-image: url('/assets/imgs/home-background.jpg')">

    <a href="../index.html" title="Aller à la page d'accueil"></a>

    <nav id="menu">

        <menu>
            <li><a title="Fermer le menu" class="btn-menu">
                    <img alt="Icone close menu" src="/assets/svgs/picto-close.svg"/>
                </a></li>
            <li><a href="../index.html" title="voir la page d'accueil">Accueil</a></li>
            <li><a href="/pages/a-propos.html" title="voir la page a propos d'Accolade">A propos</a></li>
            <li><a href="/pages/graphic-design.html" title="voir nos créations graphiques">Graphisme</a></li>
            <li><a href="/pages/web-creation.html" title="voir nos sites internet">Sites internet</a></li>
            <li><a href="/pages/laboratoire.html" title="voir nos développements">Laboratoire</a></li>
            <li><a href="/pages/projects-all.html" title="voir toutes nos réalisations">Réalisations</a></li>
            <li><a href="/pages/contact.html" title="voir la page contacts">Contact</a></li>


        </menu>

        <a title="Voir le menu" class="btn-menu">

            <img alt="Icone menu" src="/assets/svgs/picto-burger.svg"/>
        </a>

    </nav>

    <dl>
        <dt>
            Createurs engages
            <small>>> Web <span>&</span> Graphisme</small>
        </dt>
    </dl>

    <aside>

        <h1><small>C’est quoi ?</small></h1>

        <p>
            Accolade est une SCOP nancéienne qui décode les usages, conçoit et crée.
            <br/><br/>
            Que ce soit pour penser votre identité graphique, créer votre site internet ou votre application mobile,
            notre équipe vous conseille et vous accompagne de A à Z.
        </p>

    </aside>

</header>

<main class="container">

    <!-- SECTION PRESENTATION -->
    <section id="presentation">

        <h2 class="">Et si on fonctionnait autrement ?<small>Des engagements forts</small></h2>

        <p>En tant que coopérative, Accolade est fondée sur des principes d'équité, de solidarité et de coopération.
            Nous encourageons les projets locaux et soutenons les initiatives qui visent à améliorer la vie de ceux qui
            nous entourent et nous nous engageons à continuer à innover pour contribuer à un avenir plus durable et plus
            équitable pour tous.</p>

        <ul>

            <li>
                <h3>Responsable</h3>
                <p>Acteurs locaux privilégiés<br/><br/>Numérique responsable privilégié</p>
            </li>

            <li>
                <h3>Solidaire</h3>
                <p>10% des bénéfices reversés à des associations<br/><br/>Réduction tarificaire pour les membres de
                    L’ESS - économie sociale et solidaire</p>
            </li>

            <li>
                <h3>Perenne</h3>
                <p>Aucun actionnaire, aucun dividende<br/><br/>50% des bénéfices réinvestis dans la société<br/><br/>50%
                    des bénéfices reversés aux salariés</p>
            </li>

            <li>
                <h3>Equitable</h3>
                <p>Transparence totale sur les salaires<br/><br/>Différence entre le plus bas et le plus haut salaire -
                    2x maximum</p>
            </li>

            <li>
                <h3>Democratique</h3>
                <p>Gérant élu et révocable<br/><br/>Décisions soumises au vote des salariés<br/><br/>Salaires décidés
                    par les salariés</p>
            </li>

        </ul>

    </section>

    <!-- SECTION EQUIPE -->
    <section id="equipe">

        <h2 class="">l’equipe<small>des profils varies</small></h2>

        <p>
            <img src="/assets/imgs/equipe-accolade.jpg" width="680" height="383"/>
            Après plus de 10 ans à se côtoyer et à travailler ensemble sur différents projets tels que la conception de
            logiciels, le développement de sites internet et l’élaboration d’identités graphiques, c’est en 2023 que les
            développeurs et graphistes composant notre équipe ont décidé de s’associer pour créer Accolade.
            <br/><br/>Partageant des valeurs communes basées sur l’équité, le bien être au travail et la responsabilité
            des entreprises, nous avons décidé d’adopter le format SCOP - Société Coopérative & Participative -
            correspondant à notre vision du monde du travail.<br/><br/>Accolade est une nouvelle histoire qui débute,
            composée d’une équipe d’experts en développement et en graphisme, qui se connaissent bien et qui adorent
            inventer ensemble.
        </p>


        <ul>

            <li>
                <h3>Lou</h3>
                <p>Graphiste et webdesigner</p>
                <img src="/assets/svgs/picto-moustache.svg" width="170" height="100" alt="Photo de Lou"/>

            </li>

            <li>
                <h3>Xavier</h3>
                <p>Gestionnaire projet et dev.</p>
                <img src="/assets/svgs/picto-licorne.svg" width="170" height="100" alt="Photo de Xavier"/>
            </li>

            <li>

                <h3>Jérôme</h3>
                <p><small>Co-fondateur</small><br/>Intégrateur web</p>
                <img src="/assets/svgs/picto-nounours.svg" width="170" height="100" alt="Photo de Jerome"/>

            </li>

            <li>
                <h3>Léa</h3>
                <p>Graphiste et webdesigner</p>
                <img src="/assets/svgs/picto-satan.svg" width="170" height="100" alt="Photo de Lea"/>
            </li>

            <li>
                <h3>Michael</h3>
                <p><small>Co-fondateur</small><br/>Dev. <small>full stack</small></p>
                <img src="/assets/svgs/picto-fleur.svg" width="170" height="100" alt="Photo de Michael"/>
            </li>

            <li>
                <h3>Yannick</h3>
                <p><small>Co-fondateur</small><br/>Dev. <small>full stack senior</small></p>
                <img src="/assets/svgs/picto-roi.svg" width="170" height="100" alt="Photo de Yannick"/>

            </li>

        </ul>

    </section>

    <!-- SECTION CONTACT -->
    <section id="contact" class="container">

        <h2>Vous avez un projet ?</h2>

        <h3>N’hesitez pas a nous
            <a class="btn btn-page-nav" href="/pages/contact.html" title="Prenez contact par email">Contacter</a>
        </h3>

    </section>
</main>

