<header style="background-image: url('/assets/imgs/home-background.jpg')">

    <a href="../index.html" title="Aller à la page d'accueil"></a>

    <nav class="open">

        <menu>
            <li><a href="/pages/contact.html" title="voir la page contacts"><img alt="Aller à la page contact" height="60" src="/assets/svgs/button-contact.svg" width="60"/></a></li>
        </menu>

        <a title="Voir le menu">
            <img alt="Icone menu" height="40" src="/assets/svgs/picto-burger.svg" width="40"/>
        </a>

    </nav>

    <span>Web <span>&</span> Graphisme </span>

    <aside>

        <h1><small>C’est quoi ?</small></h1>

        <p>
            Accolade est une SCOP nancéienne qui décode les usages, conçoit et crée.
            <br/><br/>
            Que ce soit pour penser votre identité graphique, créer votre site internet ou votre application mobile,
            notre équipe vous conseille et vous accompagne de A à Z.
        </p>

    </aside>

</header>

<main>

    <section id="infos-contact">

        <h2 class="with-line">Nous contacter<small>Accolade scop</small></h2>

        <nav>

            <a href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x47949879e3e45555:0x68bc2ae88e33a2df?sa=X&ved=1t:8290&ictx=111" target="_blank" title="localisation des locaux Accolade">
                <img alt="plan de situation d'Accolade" height="234" src="/assets/imgs/map-accolade.png" width="470"/>
            </a>

            <a href="mailto:contact@accolade.coop" title="Contacter Accolade par email" target="_blank">
                <h3>Nos informations de contact</h3>

                <p class="strong">Accolade</p>

                <p>43 Avenue Foch<br/>
                    54000 Nancy, FRANCE</p>

               <p>contact@accolade.coop</p>
            </a>

        </nav>

    </section>

</main>

