<header style="background-image: url('/assets/imgs/home-background.jpg')" class="container-heading">

    <a href="../index.html" title="Aller à la page d'accueil"></a>

    <nav class="open">

        <menu>
            <li><a href="../index.html" title="voir la page d'accueil">Accueil</a></li>
            <li><a href="/pages/a-propos.html" title="voir la page a propos d'Accolade">Qui sommes-nous ?</a></li>
            <li><a href="/pages/projects-all.html" title="voir la page contacts">Nos réalisations</a></li>
            <li><a href="/pages/contact.html" title="voir la page contacts">Prendre contact</a></li>
            <li><a title="Fermer le menu">
                    <img alt="Icone close menu" height="40" src="/assets/svgs/picto-close.svg" width="40"/>
                </a></li>
        </menu>

        <a title="Voir le menu">
            <img alt="Icone menu" height="40" src="/assets/svgs/picto-burger.svg" width="40"/>
        </a>

    </nav>

    <span>Web <span>&</span> Graphisme </span>

    <aside>

        <h1><small>Navigation</small></h1>
        <a class="btn btn-projects-nav --reverse" href="/pages/web-creation" title="Allez à la page Sites internet">Sites<small>internet</small></a>
        <a class="btn btn-projects-nav" href="/pages/laboratoire.html" title="Solutions numériques">Solutions<small>numeriques</small></a>

    </aside>

</header>

<main>

    <!-- SECTION CREATIONS GRAPHIQUES -->
    <section id="graphic-design">

        <h2 class="with-line">Créations graphiques<small>Accolade scop</small></h2>

        <article>

            <img src="" width="470" height="557" alt="Illustration"/>

            <div>
                <h3>Identite visuelle</h3>
                <p>
                    L’identité visuelle regroupe les éléments graphiques permettant de vous différencier et de vous
                    reconnaître : votre nom, votre logotype, votre palette de couleurs, votre typographie, votre
                    iconographie, etc...<br/><br/>
                    Nous vous proposons une charte graphique complète ou partielle, composée de ces différents éléments
                    ces différents éléments visuels et de leurs règles d’utilisation.
                </p>
            </div>

            <div>
                <h3>Design Graphique</h3>
                <p>
                    Avec notre regard créatif et notre veille constante sur les dernières tendances, nous vous
                    accompagnons sur la création de tous nos éléments de communication : affiche, carte de visite,
                    rapport, fiche produit, bureautique…<br/><br/>
                    Nous vous guidons, ou gérons si vous le souhaitez, pour le choix de votre imprimeur et des
                    différents supports proposés.
                </p>
            </div>

        </article>

    </section>

    <!-- SECTION PROJETS -->
    <section id="projets">

        <h2>Nos creations graphiques<small>Etudes de cas</small></h2>

        <nav class="slider__content">

            {% for p in projects %}
                <a href="/projets/{{ p.slug }}.html" title="voir le detail du projet">

                    <img src="/assets/imgs/{{ p.slug }}/{{ p.banner.src }}" alt="{{ p.banner.description }}" width="248"
                         height="157"/>

                    {{ p.client.name }}

                    <em>
                        {% for tag in p.tags %}
                            {{ tag }}{% if not loop.last %} •{% endif %}
                        {% endfor %}
                    </em>
                </a>

            {% endfor %}

        </nav>

        <div class="slider__nav">

            <input
                    alt="element précédent"
                    id="btn-prec"
                    src="../assets/svgs/picto-groupe-pointe-on.svg"
                    type="image"/>

            <div class="separation"></div>

            <input
                    alt="element suivant"
                    id="btn-next"
                    src="../assets/svgs/picto-groupe-pointe-on.svg"
                    type="image"/>
        </div>

    </section>

    <!-- SECTION CONTACT -->
    <section id="contact">

        <h2>Vous avez un projet ?</h2>

        <h3>N’hesitez pas a nous
            <a class="btn btn-page-nav" href="/pages/contact.html" title="Prenez contact par email">Contacter</a>
        </h3>

    </section>

</main>

