<header style="background-image: var(--url-backgroundImage-creationGraphique)" class="project">

    <a href="/index.html" title="Aller à la page d'accueil">Accueil</a>

    <section>
        <div>
            Créateurs engagés
            <small>Web <span>&</span> Graphisme</small>
        </div>
    </section>

    <aside>

        <h1><small>Navigation</small></h1>
        <a class="btn btn-projects-nav --reverse" href="/pages/web-creation.html" title="Allez à la page Sites internet">Sites<small>internet</small></a>
        <a class="btn btn-projects-nav" href="/pages/laboratoire.html" title="Solutions numériques">Laboratoire<small>numérique</small></a>

    </aside>

</header>

<main class="container">

    <!-- SECTION CREATIONS GRAPHIQUES -->
    <section id="graphic-design"  class="mosaic">

        <h2 class="">Créations graphiques<small>Accolade scop</small></h2>

        <article>

            <figure>

                <img src="/assets/imgs/identite-visuelle.jpg"  alt="Identité visuelle et design graphique"/>

            </figure>

            <div>
                <h3>Identité visuelle</h3>
                <p>
                    L’identité visuelle regroupe les éléments graphiques permettant de vous différencier et de vous
                    reconnaître : votre nom, votre logotype, votre palette de couleurs, votre typographie, votre
                    iconographie, etc...<br/><br/>
                    Nous vous proposons une charte graphique complète ou partielle, composée de ces différents éléments
                    ces différents éléments visuels et de leurs règles d’utilisation.
                </p>
            </div>

            <div>
                <h3>Design Graphique</h3>
                <p>
                    Avec notre regard créatif et notre veille constante sur les dernières tendances, nous vous
                    accompagnons sur la création de tous nos éléments de communication : affiche, carte de visite,
                    rapport, fiche produit, bureautique…<br/><br/>
                    Nous vous guidons, ou gérons si vous le souhaitez, pour le choix de votre imprimeur et des
                    différents supports proposés.
                </p>
            </div>

        </article>

    </section>

    <!-- SECTION PROJETS -->
    {% from "components/slider.njk" import slider %}
    {{ slider(
        "projets",
        "Nos créations graphiques",
        "Études de cas",
        projects | getProjectsCategorie("Graphisme")
    ) }}

    <!-- SECTION CONTACT -->
    <section id="contact" class="container">

        <h2>Vous avez un projet ?</h2>

        <h3>N’hésitez pas à nous
            <a class="btn btn-page-nav" href="/pages/contact.html" title="Prenez contact par email">Contacter</a>
        </h3>

    </section>

</main>

