<header style="backdrop-filter: blur(15px); background-image: var(--url-backgroundImage-mentionsLegales)">

    <a href="/index.html" title="Aller à la page d'accueil">Accueil</a>

    <section>
        <div>
            Createurs engages
            <small>Web <span>&</span> Graphisme</small>
        </div>
    </section>

    <aside>

        <h1><small>C’est quoi ?</small></h1>

        <p>
            Accolade est une SCOP nancéienne qui décode les usages, conçoit et crée.
            <br/><br/>
            Que ce soit pour penser votre identité graphique, créer votre site internet ou votre application mobile,
            notre équipe vous conseille et vous accompagne de A à Z.
        </p>

    </aside>

</header>

<main class="container">

    <article id="mentions">

        <h2>Mentions légales<small>Accolade Scop</small></h2>

        <section>

            <dl>
                <dt>Editeur</dt>
                <dd><span>Entreprise</span> Accolade</dd>
                <dd><span>Forme juridique</span> Société Coopérative <br/>de Production <br/>à responsabilité limitée</dd>
                <dd><span>Capital</span> 12000 €</dd>
                <dd><span>Immatriculation</span> 922 155 833 R.C.S. Nancy</dd>
                <dd><span>Adresse</span> 43 Av. Foch, 54000 Nancy</dd>
                <dd><span>Email</span> contact@accolade.coop</dd>
            </dl>

            <dl>
                <dt>Hebergement</dt>
                <dd><span>Hébergeur</span> Google LLC</dd>
                <dd><span>Adresse</span> 1600 Amphitheatre Parkway,<br/> Mountain View,<br/> CA 94043, <br/>États-Unis</dd>
            </dl>

        </section>

    </article>

</main>

