<header style="backdrop-filter: blur(15px); background-image: url('/assets/imgs/home-background.jpg')"
class="container">

    <a href="../index.html" title="Aller à la page d'accueil"></a>

    <nav id="menu">

        <menu>
             <li><a title="Fermer le menu" class="btn-menu">
                    <img alt="Icone close menu" height="30"
 src="/assets/svgs/picto-close.svg" width="40"/>
                </a></li><li><a href="../index.html" title="voir la page d'accueil">Accueil</a></li>
            <li><a href="/pages/a-propos.html" title="voir la page a propos d'Accolade">A propos</a></li>
            <li><a href="/pages/graphic-design.html" title="voir nos créations graphiques">Graphisme</a></li>
            <li><a href="/pages/web-creation.html" title="voir nos sites internet">Sites internet</a></li>
            <li><a href="/pages/laboratoire.html" title="voir nos développements">Laboratoire</a></li>
            <li><a href="/pages/projects-all.html" title="voir toutes nos réalisations">Réalisations</a></li>
            <li><a href="/pages/contact.html" title="voir la page contacts">Contact</a></li>


        </menu>

        <a title="Voir le menu" class="btn-menu">

            <img alt="Icone menu" height="40" src="/assets/svgs/picto-burger.svg" width="40"/>
        </a>

    </nav>

    <span>Web <span>&</span> Graphisme </span>

    <aside>

        <h1><small>C’est quoi ?</small></h1>

        <p>
            Accolade est une SCOP nancéienne qui décode les usages, conçoit et crée.
            <br/><br/>
            Que ce soit pour penser votre identité graphique, créer votre site internet ou votre application mobile,
            notre équipe vous conseille et vous accompagne de A à Z.
        </p>

    </aside>

</header>

<main>
    <section id="mentions">

        <h2 class="with-line">Mentions légales</h2>

        <nav>

            <div>
                <h3>Editeur</h3>
                <p><span>Entreprise</span> Accolade</p>
                <p><span>Forme juridique</span> Société COopérative de Production <br/>à responsabilité limitée</p>
                <p><span>Capital</span> 12000 €</p>
                <p><span>Immatriculation</span> 922 155 833 R.C.S. Nancy</p>
                <p><span>Adresse</span> 43 Av. Foch, 54000 Nancy</p>
                <p><span>Email</span> contact@accolade.coop</p>
            </div>

            <div>
                <h3>Hebergement</h3>
                <p><span>Hébergeur</span> Google LLC</p>
                <p><span>Adresse</span> 1600 Amphitheatre Parkway, Mountain View, CA 94043, États-Unis</p>
            </div>

        </nav>

    </section>

</main>

