<header style="backdrop-filter: blur(15px); background-image: url('/assets/imgs/home-background.jpg')">

    <a href="../index.html" title="Aller à la page d'accueil"></a>

    <nav id="menu">

        <menu>
            <li><a title="Fermer le menu" class="btn-menu">
                    <img alt="Icone close menu" src="/assets/svgs/picto-close.svg"/>
                </a></li>
            <li><a href="../index.html" title="voir la page d'accueil">Accueil</a></li>
            <li><a href="/pages/a-propos.html" title="voir la page a propos d'Accolade">A propos</a></li>
            <li><a href="/pages/graphic-design.html" title="voir nos créations graphiques">Graphisme</a></li>
            <li><a href="/pages/web-creation.html" title="voir nos sites internet">Sites internet</a></li>
            <li><a href="/pages/laboratoire.html" title="voir nos développements">Laboratoire</a></li>
            <li><a href="/pages/projects-all.html" title="voir toutes nos réalisations">Réalisations</a></li>
            <li><a href="/pages/contact.html" title="voir la page contacts">Contact</a></li>


        </menu>

        <a title="Voir le menu" class="btn-menu">

            <img alt="Icone menu" src="/assets/svgs/picto-burger.svg"/>
        </a>

    </nav>

    <dl>
        <dt>
            Createurs engages
            <small>>> Web <span>&</span> Graphisme</small>
        </dt>
    </dl>

    <aside>

        <h1><small>C’est quoi ?</small></h1>

        <p>
            Accolade est une SCOP nancéienne qui décode les usages, conçoit et crée.
            <br/><br/>
            Que ce soit pour penser votre identité graphique, créer votre site internet ou votre application mobile,
            notre équipe vous conseille et vous accompagne de A à Z.
        </p>

    </aside>

</header>

<main class="container">

    <article id="mentions">

        <h2>Mentions légales<small>Accolade Scop</small></h2>

        <section>

            <dl>
                <dt>Editeur</dt>
                <dd><span>Entreprise</span> Accolade</dd>
                <dd><span>Forme juridique</span> Société Coopérative <br/>de Production <br/>à responsabilité limitée</dd>
                <dd><span>Capital</span> 12000 €</dd>
                <dd><span>Immatriculation</span> 922 155 833 R.C.S. Nancy</dd>
                <dd><span>Adresse</span> 43 Av. Foch, 54000 Nancy</dd>
                <dd><span>Email</span> contact@accolade.coop</dd>
            </dl>

            <dl>
                <dt>Hebergement</dt>
                <dd><span>Hébergeur</span> Google LLC</dd>
                <dd><span>Adresse</span> 1600 Amphitheatre Parkway,<br/> Mountain View,<br/> CA 94043, <br/>États-Unis</dd>
            </dl>

        </section>

    </article>

</main>

