<header style="background-image: url('/assets/imgs/home-background.jpg')">

    <a href="../index.html" title="Aller à la page d'accueil"></a>

    <nav id="menu">

        <menu>
             <li><a title="Fermer le menu" class="btn-menu">
                    <img alt="Icone close menu" src="/assets/svgs/picto-close.svg"/>
                </a></li><li><a href="../index.html" title="voir la page d'accueil">Accueil</a></li>
            <li><a href="/pages/a-propos.html" title="voir la page a propos d'Accolade">A propos</a></li>
            <li><a href="/pages/graphic-design.html" title="voir nos créations graphiques">Graphisme</a></li>
            <li><a href="/pages/web-creation.html" title="voir nos sites internet">Sites internet</a></li>
            <li><a href="/pages/laboratoire.html" title="voir nos développements">Laboratoire</a></li>
            <li><a href="/pages/projects-all.html" title="voir toutes nos réalisations">Réalisations</a></li>
            <li><a href="/pages/contact.html" title="voir la page contacts">Contact</a></li>


        </menu>

        <a title="Voir le menu" class="btn-menu">

            <img alt="Icone menu" src="/assets/svgs/picto-burger.svg"/>
        </a>

    </nav>

    <dl>
        <dt>
            Createurs engages
            <small>>> Web <span>&</span> Graphisme</small>
        </dt>
    </dl>

    <aside>

        <h1><small>C’est quoi ?</small></h1>

        <p>
            Accolade est une SCOP nancéienne qui décode les usages, conçoit et crée.
            <br/><br/>
            Que ce soit pour penser votre identité graphique, créer votre site internet ou votre application mobile,
            notre équipe vous conseille et vous accompagne de A à Z.
        </p>

    </aside>

</header>

<main class="container">

    <!-- LISTE DES CATEGORIES -->
    <section id="categories" class="categories-list">

        {% set uniqueCategories = projects | getUniqueCategories(project) %}
        {% for categorie in uniqueCategories %}
            <a class="btn-categorie" data-categorie="{{ categorie }}" title="Voir les projets {{ categorie }}">{{ categorie }}</a>
            {#                {% if not loop.last %} •{% endif %} #}
        {% endfor %}

    </section>

    <!-- LISTE DES TAGS -->
    <!-- <section id="tags" class="tags-list"> -->

        <!-- {% set uniqueTags = projects | getUniqueTags(project) %} -->
        <!-- {% for tag in uniqueTags %} -->
            <!-- <a class="btn-tag" data-tag="{{ tag }}" title="Voir les projets {{ tag }}">{{ tag }}</a> -->
            <!-- {#                {% if not loop.last %} •{% endif %} #} -->
        <!-- {% endfor %} -->

    <!-- </section> -->

    <!-- SECTION PROJECTS -->
    <section id="projects">

        <nav class="slider__content">

            {% for p in projects %}
                <a href="/projets/{{ p.slug }}.html" title="voir le detail du projet" data-tags="{{ p.tags }}"" data-categories="{{ p.categories }}"
                   class="project">

                    <img src="/assets/imgs/{{ p.slug }}/{{ p.banner.src }}" alt="{{ p.banner.description }}" width="248"
                         height="157"/>

                    {{ p.client.name }}

                    <em>
                        {% for tag in p.tags %}
                            {{ tag }}{% if not loop.last %} •{% endif %}
                        {% endfor %}
                    </em>
                </a>

            {% endfor %}

        </nav>

    </section>

</main>