<header style="background-image: url('../assets/imgs/projects-background.png')">

    <a href="#" title="Aller à la page d'accueil"></a>

    <nav class="">

        <menu>

            <li><a title="">Label menu lien 1</a></li>

            <li><a title="">Label menu lien 2</a></li>

            <li><a title="">Label menu lien 3</a></li>

        </menu>

        <a title="Voir le menu">
            <img alt="Icone menu" height="40" src="../assets/svgs/picto-burger.svg" width="40"/>
        </a>

    </nav>

    <span></span>

    <aside>

        <h1><small>Navigation</small></h1>

        <button class="btn btn-projects-nav" type="button">Projet<small>précédent</small></button>

        <button class="btn btn-projects-nav" type="button">Projet<small>suivant</small></button>

    </aside>

</header>

<main>

    <!-- SECTION GALERIE -->
    <section id="project-details">

        <h2 class="with-line">La Fabrique des Gro<small>2025 - Refonte de l’identite graphique</small></h2>

        <header>

            <img alt=""  src="https://picsum.photos/810/512" width="810" height="512">

            <aside>

                <img alt="Création graphique" src="../assets/svgs/picto-creation-graphique.svg">

                <ul class="tags-list">
                    <li><a title="">Logo</a></li>
                    <li><a title="">Charte graphique</a></li>
                    <li><a title="">Affiche</a></li>
                    <li><a title="">Carte de visite</a></li>
                    <li><a title="">Rapport d’activité</a></li>
                </ul>

                <p>
                    La Fabrique des GrÔ est une brasserie artisanale basée à Maxéville (Lorraine - 54320). C’est
                    également un lieu culturel en plein essort où le public peut déguster de bonnes bières tout en
                    assistant à des concerts.
                    <br/>
                    <br/>
                    Désireux de moderniser son image et de développer sa communication, La Fabrique des GrÔ a fait
                    appel à nous pour la refonte de son identité visuelle et un accompagnement dans la gestion de
                    ces réseaux sociaux.
                    <br/>
                    <br/>
                    Désireux de moderniser son image et de développer sa communication, La Fabrique des GrÔ a fait
                    appel à nous pour la refonte de son identité visuelle et un accompagnement dans la gestion de
                    ces réseaux sociaux.
                </p>

            </aside>

            <button class="btn btn-page-nav" type="button">Voir le site</button>

        </header>

        <section class="gallery">

            <img alt="" src="https://picsum.photos/248/157">
            <img alt="" src="https://picsum.photos/248/157">
            <img alt="" src="https://picsum.photos/248/157">
            <img alt="" src="https://picsum.photos/248/157">
            <img alt="" src="https://picsum.photos/784/495">
            <img alt="" src="https://picsum.photos/248/157">
            <img alt="" src="https://picsum.photos/495/517">

        </section>

    </section>


    <!-- SECTION PROJETS -->
    <section id="projets">

        <h2>Projets<small>similaires</small></h2>

        <nav class="slider__content">

            <a>

                <img alt="image test" height="190" src="../assets/imgs/projet-test.png" width="260"/>

                Nom client

                <em>Tag</em>

            </a>

            <a>

                <img alt="image test" height="190" src="../assets/imgs/projet-test.png" width="260"/>

                Nom client

                <em>Tag</em>

            </a>

            <a>

                <img alt="image test" height="190" src="../assets/imgs/projet-test.png" width="260"/>

                Nom client

                <em>Tag</em>

            </a>

            <a>

                <img alt="image test" height="190" src="../assets/imgs/projet-test.png" width="260"/>

                Nom client

                <em>Tag</em>

            </a>

        </nav>

        <div class="slider__nav">
            <input
                    alt="element précédent"
                    id="btn-prec"
                    src="../assets/svgs/picto-groupe-pointe-off.svg"
                    type="image"/>
            <div class="separation"></div>
            <input
                    alt="element suivant"
                    id="btn-next"
                    src="../assets/svgs/picto-groupe-pointe-off.svg"
                    type="image"/>
        </div>

    </section>


    <!-- SECTION CONTACT -->
    <section id="contact">

        <h2>Vous avez un projet ?</h2>

        <h3>N’hesitez pas a nous
            <button class="btn btn-page-nav" type="button">Contacter</button>
        </h3>

    </section>

</main>


<p>-----------------------------------------------------------------------------------------------------</p>

<a href="/">Accueil</a>


<img src="/assets/imgs/{{ project.slug }}/{{ project.banner.src }}" alt="{{ project.banner.description }}"/>
<img src="/assets/imgs/{{ project.slug }}/{{ project.logo.src }}" alt="{{ project.logo.description }}"/>

<h1> {{ project.name }}</h1>
<h3>{{ project.client.name }}</h3>
<div>{{ project.year }}</div>
<ul>
    {% for tag in project.tags %}
        <li>{{ tag }}</li>
    {% endfor %}
</ul>


{% if project.description.length > 0 %}
    {% for paragraph in project.description %}
        <p>{{ paragraph }}</p>
    {% endfor %}
{% endif %}

{% if project.url %}
    <a href="{{ project.url }}">{{ project.url }}</a>
{% endif %}

<section>
    <h3>Les projets reliés</h3>
    <ul>
        {% for p in project | sortbyrelatedness(projects) %}
            <li>{{ p.name }}</li>
        {% endfor %}
    </ul>
</section>
