
<!-- logo -->

<header style="background-image: url('../assets/imgs/projects-background.png')">

    <a href="#" title="Aller à la page d'accueil"></a>

    <nav class="open">

        <menu>

            {% for p in projects | slice(0,3) %}
                <li>
                    <a href="/projets/{{ p.slug }}.html">
                        {{ p.name }}
                    </a>
                </li>
            {% endfor %}

        </menu>

        <a title="Voir le menu">
            <img alt="Icone menu" height="40" src="../assets/svgs/picto-burger.svg" width="40"/>
        </a>

    </nav>

    <span></span>

    <aside>

        <h1><small>Navigation</small></h1>

        <button class="btn btn-projects-nav" type="button">Projet<small>précédent</small></button>

        <button class="btn btn-projects-nav" type="button">Projet<small>suivant</small></button>

    </aside>

</header>

<main>

    <!-- SECTION GALERIE -->
    <section id="project-details">

        <h2 class="with-line">{{ project.client.name }}<small>{{ project.year }} - {{ project.name }}</small></h2>

        <header>
            <!-- banner -->
            <img alt="" src="/assets/imgs/{{ project.slug }}/{{ project.banner.src }}" alt="{{ project.banner.description }}" width="810" height="512">

            <aside>

                <img alt="Création graphique" src="../assets/svgs/picto-creation-graphique.svg">

                <ul class="tags-list">
                    {% for tag in project.tags %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                </ul>

                <p>
                    {% if project.description.length > 0 %}
                        {% for paragraph in project.description %}
                            {{ paragraph }}<br/>
                        {% endfor %}
                    {% endif %}
                </p>

            </aside>

            <a class="btn btn-page-nav" href="{{ project.url }}" target="_blank">Voir le site</a>

        </header>

        <section class="gallery">

            <figure>
                <img alt="" src="https://picsum.photos/248/157">
            </figure>

            <figure>
                <img alt="" src="https://picsum.photos/248/157">
            </figure>

            <figure>
                <img alt="" src="https://picsum.photos/248/157">
            </figure>

            <figure>
                <img alt="" src="https://picsum.photos/248/157">
            </figure>

            <figure>
                <img alt="" src="https://picsum.photos/248/157">
            </figure>

            <figure>
                <img alt="" src="https://picsum.photos/784/495">
            </figure>

            <figure>
                <img alt="" src="https://picsum.photos/495/517">
            </figure>

        </section>

    </section>


    <!-- SECTION PROJETS -->
    <section id="projets">

        <h2>Projets<small>similaires</small></h2>

        <nav class="slider__content">

            <a>

                <img alt="image test" height="190" src="../assets/imgs/projet-test.png" width="260"/>

                Nom client

                <em>Tag</em>

            </a>

            <a>

                <img alt="image test" height="190" src="../assets/imgs/projet-test.png" width="260"/>

                Nom client

                <em>Tag</em>

            </a>

            <a>

                <img alt="image test" height="190" src="../assets/imgs/projet-test.png" width="260"/>

                Nom client

                <em>Tag</em>

            </a>

            <a>

                <img alt="image test" height="190" src="../assets/imgs/projet-test.png" width="260"/>

                Nom client

                <em>Tag</em>

            </a>

        </nav>

        <div class="slider__nav">
            <input
                    alt="element précédent"
                    id="btn-prec"
                    src="../assets/svgs/picto-groupe-pointe-off.svg"
                    type="image"/>
            <div class="separation"></div>
            <input
                    alt="element suivant"
                    id="btn-next"
                    src="../assets/svgs/picto-groupe-pointe-off.svg"
                    type="image"/>
        </div>

    </section>


    <!-- SECTION CONTACT -->
    <section id="contact">

        <h2>Vous avez un projet ?</h2>

        <h3>N’hesitez pas a nous
            <button class="btn btn-page-nav" type="button">Contacter</button>
        </h3>

    </section>

</main>


<p>-----------------------------------------------------------------------------------------------------</p>

<a href="/">Accueil</a>


<img src="/assets/imgs/{{ project.slug }}/{{ project.banner.src }}" alt="{{ project.banner.description }}"/>
<img src="/assets/imgs/{{ project.slug }}/{{ project.logo.src }}" alt="{{ project.logo.description }}"/>

<h1> {{ project.name }}</h1>

<h3>{{ project.client.name }}</h3>

<div>{{ project.year }}</div>

<ul>
    {% for tag in project.tags %}
        <li>{{ tag }}</li>
    {% endfor %}
</ul>


{% if project.description.length > 0 %}
    {% for paragraph in project.description %}
        <p>{{ paragraph }}</p>
    {% endfor %}
{% endif %}

{% if project.url %}
    <a href="{{ project.url }}">{{ project.url }}</a>
{% endif %}

<section>
    <h3>Les projets reliés</h3>
    <ul>
        {% for p in project | sortbyrelatedness(projects) %}
            <li><img src="/assets/imgs/{{ project.slug }}/{{ project.banner.src }}" alt="{{ project.banner.description }}"/></li>
            <li>{{ p.name }}</li>
        {% endfor %}
    </ul>
</section>
