// VARIABLES GENERIQUE
// DEFINITION DES VARIABLES TYPOGRAPHIQUES
$acc-base-fontfamily: 'Roboto-Regular', monospace , sans-serif !default
$acc-base-fontsize: 16px !default
$acc-base-lineheight: 1.2 !default
$acc-base-fontweight: 300 !default
$acc-base-radius: $acc-base-fontsize/5 !default
$acc-base-mini: .500 !default
$acc-base-xxsmall: .647 !default
$acc-base-xsmall: .765 !default
$acc-base-small: .881 !default
$acc-base-normal: 1 !default
$acc-base-large: 1.118 !default
$acc-base-xlarge: 1.295 !default
$acc-base-xxlarge: 1.588 !default
$acc-base-big: 1.823 !default
$acc-base-xbig: 2.118 !default
$acc-base-xxbig: 2.47 !default
// COULEURS ET DES PALETTES
// Couleurs neutres
$acc-colors-neutre: ('900': #1F2126, '800': #404248, '700': #5F6167, '600': #73757B, '500': #9C9EA4, '400': #BBBDC4, '300': #DDE0E7, '200': #EBEEF5, '100': #F2F5FC, '50': #F7FAFF) !default
// Couleurs primaires
$acc-colors-primaire: ('900': #1f241c) !default
// Couleurs secondaires
$acc-colors-secondaire: ('900': #7a9a3d) !default
//Couleurs etats
$acc-colors-etats: ('note': #33E2FF, 'note-light': #B3F8FF, 'note-dark': #0095A5, 'succes': #33FF33, 'succes-light': #B3FFB3, 'succes-dark': #00A500, 'alert': #FF9933, 'alert-light': #FFD9B3, 'alert-dark': #A54300, 'erreur': #FF3333, 'erreur-light': #FFB3B3, 'erreur-dark': #A50000) !default
// palette couleurs
$acc-colors-palettes: ('black': #000000, 'white': #ffffff, 'neutre': $acc-colors-neutre, 'primaire': $acc-colors-primaire, 'secondaire': $acc-colors-secondaire, 'etats': $acc-colors-etats) !default
// classes de taille de caractères
$acc-sizes: (mini:('font-size': $acc-base-mini), xxsmall:('font-size': $acc-base-xxsmall), xsmall: ('font-size': $acc-base-xsmall), small: ('font-size': $acc-base-small), normal: ('font-size': $acc-base-normal), large: ('font-size': $acc-base-large), xlarge: ('font-size': $acc-base-xlarge), xxlarge: ('font-size': $acc-base-xxlarge), big: ('font-size': $acc-base-big), xbig: ('font-size': $acc-base-xbig), xxbig: ('font-size': $acc-base-xxbig)) !default
// classes de graisse de caractères
$acc-weights: (thin:('font-weight': $acc-base-fontweight), regular:('font-weight': $acc-base-fontweight+ 100), semibold: ('font-weight': $acc-base-fontweight+ 300), bold: ('font-weight': $acc-base-fontweight + 400), black: ('font-weight': $acc-base-fontweight + 600)) !default
// Parametres
$acc-parameters: (palettes: $acc-colors-palettes,etats: $acc-colors-etats,sizes: $acc-sizes,weights: $acc-weights) !default
// BREAKPOINTS
// 576px  xs>>  Small tablets and large smartphones (landscape view)
// 768px  sm >>  Small tablets (portrait view)
// 992px  md >>  Tablets and small desktops
// 1200px lg >>  Large tablets and desktops
// 1900px xl >>  ExtraLarge desktops
$breakpoints: (xs: 576px, sm: 768px, md: 992px, lg: 1200px, xl: 1980px) !default
