/*  *************** OBJETS *************** */
// GRILLES

.ess-O-layout
  display: grid
  grid-gap: 1rem
  margin: 0 $ess-base-margin-reserve
  // background-color: #dddddd
  &.--une
    grid-template-columns: [gauche] 1fr [centre] 2fr [droite] 1fr
    grid-auto-flow: dense
    align-items: stretch
  &.--nouveau
    grid-template-columns: 1fr 1fr 1fr 1fr
  &.--lu
    grid-template-columns: 1fr 1fr 1fr
    grid-auto-flow: dense
  &.--rubrique
    grid-template-columns: [content] 3fr [aside] 1fr
    grid-auto-flow: dense
  &.--article
    grid-template-columns: [content] 3fr [aside] 1fr
    grid-auto-flow: dense
// BOUTONS

.ess-O-btn
  display: inline-flex
  flex-flow: row nowrap
  align-items: center
  font-family: 'Roboto'
  font-size: #{$ess-base-normal} + 'rem'
  color: get('palettes.white',$ess-parameters)
  background-color: get('palettes.neutre.500',$ess-parameters)
  border: 1px solid get('palettes.neutre.500',$ess-parameters)
  border-radius: $ess-base-fontsize/5
  margin: .25rem
  padding: .5rem 1rem
  cursor: pointer
  text-decoration: none
  &:not([disabled]), &:not(.disabled)
    &:hover, &.hovered
      background-color: get('palettes.neutre.400',$ess-parameters)
      border-color: get('palettes.neutre.400',$ess-parameters)
    &:active, &.pressed
      background-color: get('palettes.neutre.400',$ess-parameters)
      border-color: get('palettes.neutre.500',$ess-parameters)
  &[disabled], &.disabled
    cursor: not-allowed
    opacity: 30%
  &.--group
    padding: .5rem
    > .material-icons:not(:only-child)
      font-size: #{$ess-base-large} + 'rem'
      margin: 0 0 0 .5rem
    &.-left
      flex-direction: row-reverse
      > .material-icons:not(:only-child)
        margin: 0 .5rem 0 0
    &.--small
      font-size: #{$ess-base-xsmall} + 'rem'
      padding: .25rem
      > .material-icons:not(:only-child)
        margin: 0 0 0 .25rem
  &.--primary
    background-color: get('palettes.primaire.500',$ess-parameters)
    border: 1px solid get('palettes.primaire.500',$ess-parameters)
    &:not([disabled]), &:not(.disabled)
      &:hover, &.hovered
        background-color: get('palettes.primaire.300',$ess-parameters)
        border-color: get('palettes.primaire.300',$ess-parameters)
      &:active, &.pressed
        background-color: get('palettes.primaire.300',$ess-parameters)
        border-color: get('palettes.primaire.500',$ess-parameters)
  &.--secondary
    background-color: get('palettes.secondaire.500',$ess-parameters)
    border: 1px solid get('palettes.secondaire.500',$ess-parameters)
    &:not([disabled]), &:not(.disabled)
      &:hover, &.hovered
        background-color: get('palettes.secondaire.300',$ess-parameters)
        border-color: get('palettes.secondaire.300',$ess-parameters)
      &:active, &.pressed
        background-color: get('palettes.secondaire.300',$ess-parameters)
        border-color: get('palettes.secondaire.500',$ess-parameters)
  &.--phantom
    color: get('palettes.neutre.700',$ess-parameters)
    background-color: get('palettes.white',$ess-parameters)
    border: 1px solid get('palettes.neutre.300',$ess-parameters)
    &:not([disabled]), &:not(.disabled)
      &:hover, &.hovered
        background-color: get('palettes.white',$ess-parameters)
        border: 1px solid get('palettes.neutre.500',$ess-parameters)
      &:active, &.pressed
        color: get('palettes.white',$ess-parameters)
        background-color: get('palettes.neutre.500',$ess-parameters)
        border-color: get('palettes.neutre.500',$ess-parameters)
  &.--small
    font-size: #{$ess-base-small} + 'rem'
    padding: .25rem .5rem

// INPUT

input[type="text"]
  box-sizing: border-box
  display: block
  font-size: #{$ess-base-small} + 'rem'
  height: 36px
  width: 100%
  padding: calc(14px / 2) calc((14px / 2) * 2)
  line-height: 1.42857143
  color: get('palettes.neutre.800',$ess-parameters)
  background-color: get('palettes.white',$ess-parameters)
  background-image: none
  border: 1px solid get('palettes.primaire.500',$ess-parameters)
  border-radius: $ess-base-radius
  &::placeholder
    color: get('palettes.neutre.500',$ess-parameters)
  &:not([disabled]), &:not(.disabled)
    &:hover, &.hovered
      background-color: get('palettes.primaire.100',$ess-parameters)
    &:focus, &.focused
      background-color: get('palettes.primaire.100',$ess-parameters)
      outline: 0
  &[disabled], &.disabled
    cursor: not-allowed
    background-color: get('palettes.primaire.50',$ess-parameters)
    border-color: get('palettes.primaire.50',$ess-parameters)
    color: get('palettes.neutre.300',$ess-parameters)
    &:hover, &.hovered, &:focus, &.focused
      cursor: not-allowed
      background-color: get('palettes.primaire.50',$ess-parameters)
      border-color: get('palettes.primaire.50',$ess-parameters)
      color: get('palettes.neutre.300',$ess-parameters)


// LABEL

label
  display: inline-block
  font-size: #{$ess-base-small} + 'rem'
  font-weight: 600
  margin-bottom: 0.857rem
