// TEMPLATES
// MEDIA QUERIES
+respond-inf(md)
  main
    > div
      padding-bottom: 4em
      font-size: 1.5rem
      strong
        font-size: 2rem
    h1
      font-size: 2rem
      line-height: 1.2
    h2
      font-size: 1rem
      margin-bottom: 2em
      > span:not(:last-child)::after
        font-size: 1rem
        margin-left: 5px
    h3
      font-size: .821rem
      font-weight: normal
