    <section class="slogan">

        <div class="container">

            <h1>Accolade est une scop spécialisée dans le développement de solutions Web et Mobile</h1>

            <p>Notre engagement : créer des solutions technologiques innovantes tout en tenant compte de l'impact
                environnemental, social et éthique.</p>

        </div>

    </section>

    <section>

        <div class="container">

            <div class="card --valeurs">

                <h2>Valeurs<br><small>& Engagements</small></h2>

                <p>En tant que coopérative, Accolade est fondée sur des principes d'équité, de solidarité et de
                    coopération. Nous encourageons les projets locaux et soutenons les initiatives qui visent à
                    améliorer la vie de ceux qui nous entourent.</p>

                <p>Nous sommes fiers de notre engagement et nous nous engageons à continuer à innover pour contribuer à
                    un avenir plus durable et plus équitable pour tous.</p>


                <ol class="valeurs-list">

                    <li>
                        <ul>
                            <li class="title">Solidaire</li>
                            <li>10% des bénéfices reversés aux associations</li>
                            <li>Réduction tarifaires pour les membres de l'ESS</li>
                        </ul>

                    </li>

                    <li>
                        <ul>
                            <li class="title">Bien-être au travail</li>
                            <li>6 semaines de congés payés</li>
                            <li>35h / semaine</li>
                            <li>Abonnement transport en commun remboursé à 50%</li>
                            <li>Mutuelle prise en charge à 100% par la société</li>
                        </ul>

                    </li>

                    <li>
                        <ul>
                            <li class="title">Pérennité</li>
                            <li>Pas de dividendes</li>
                            <li>50% des bénéfices réinvesti dans la société</li>
                            <li>40% reversés aux salariés</li>
                        </ul>

                    </li>

                    <li>
                        <ul>
                            <li class="title">Démocratique</li>
                            <li>Le PDG est élu et révocable</li>
                            <li>Salaires décidés par les salariés</li>
                            <li>Choix des projets par les salariés</li>
                        </ul>

                    </li>

                    <li>
                        <ul>
                            <li class="title">Responsable</li>
                            <li>Partenaire green</li>
                            <li>Transport en train</li>
                            <li>Visio privilégiée</li>
                            <li>Télétravail à volonté</li>
                            <li>Réduction tarifaires pour les membres de l'ESS</li>
                        </ul>

                    </li>

                    <li>
                        <ul>
                            <li class="title">Equitable</li>
                            <li>Ratio de salaire : 1/2</li>
                            <li>Salaire connu de tous</li>
                        </ul>

                    </li>

                </ol>

                <div class="savoir-plus">
                    <a href="#" class="btn">
                        <span>EN SAVOIR PLUS</span>
                        <span class="material-icons">arrow_right_alt</span>
                    </a>
                </div>

            </div>

        </div>

    </section>

    <section class="positive">

        <div class="container">

            <h1 class="big-title">Démarquez-vous dans un monde numérique<br> en constante évolution</h1>

            <ol class="services-list">
                <li>Développements Web <br>& Mobile</li>
                <li>Formation <br>& Encadrement d'équipe</li>
                <li>Conseils <br>& Audit</li>
                <li>Laboratoire <br>& Projets interne</li>
            </ol>

            <div class="savoir-plus">
                <a href="#" class="btn">
                    <span>EN SAVOIR PLUS</span>
                    <span class="material-icons">arrow_right_alt</span>
                </a>
            </div>

        </div>

    </section>

    <section>

        <h1 class="big-title">Ils nous font confiance</h1>

        <div class="collection">
            <img src="/assets/imgs/logo-grand-est.jpg" alt="logo GRAND-EST" width="114" height="47">
            <img src="/assets/imgs/logo-up-kalidea.jpg" alt="logo KALIDEA" width="165" height="47">
            <img src="/assets/imgs/logo-gehealthcare.jpg" alt="logo GE HEALTHCARE" width="217" height="47">
        </div>

    </section>

