<header style="background-image: url('/assets/imgs/home-background.png')">

    <a href="./" title="Aller à la page d'accueil">Accueil</a>

    <nav>
        <a href="/pages/contact.html" title="voir la page contact">
            <img alt="Aller à la page contact" height="60" src="/assets/svgs/button-contact.svg" width="60"/>
        </a>
    </nav>

    <span>Web <span>&</span> Graphisme </span>

    <aside>

        <h1><small>C’est quoi ?</small></h1>

        <p>
            Accolade est une SCOP nancéienne qui décode les usages, conçoit et crée.
            <br/><br/>
            Que ce soit pour penser votre identité graphique, créer votre site internet ou votre application mobile,
            notre équipe vous conseille et vous accompagne de A à Z.
        </p>

    </aside>

</header>

<main>

    <!-- SECTION EXPERTISE -->
    <section id="expertises">

        <h2 class="with-line">nos expertises<small>On fait quoi ?</small></h2>

        <nav>

            <div class="link">
                Création de sites internet
                <em>Refonte ou création de sites<br/> internet • Ergonomie • SEO</em>
            </div>

            <div class="link">
                Créations graphiques
                <em>Logo • Charte graphique • Affiche • Carte de visite • Rapport d’activité...</em>
            </div>

            <div class="link">
                Laboratoire numérique
                <em>Refonte ou création de sites<br/> internet • Ergonomie • SEO</em>
            </div>

            <div class="link">
                Vers le numérique responsable
                <em>L’éco-conception permet de délivrer des sites plus légers, plus performants et plus accessibles,
                    sans pour autant renoncer à votre image de marque : nous ne croyons pas à l’antagonisme design /
                    respect de
                    l’environnement.
                    Concrètement, il s’agit de se demander à chaque étape du projet (arborescence, wireframes, design,
                    techno,
                    hébergement) quel dispositif est le plus vertueux d’un point de vue environnemental.</em>
            </div>



        </nav>

    </section>


    <!-- SECTION PROJETS -->
    <section id="projets">

        <h2 class="with-line">nos projets<small>Etudes de cas</small></h2>

        <nav class="slider__content">

            {% for p in projects %}
                <a href="/projets/{{ p.slug }}.html" title="voir le detail du projet">

                    <img src="/assets/imgs/{{ p.slug }}/{{ p.banner.src }}" alt="{{ p.banner.description }}" width="248"
                         height="157"/>

                    {{ p.client.name }}

                    <em>
                         {% for tag in p.tags %}
                             {{ tag }}{% if not loop.last %} •{% endif %}
                         {% endfor %}
                    </em>
                </a>

            {% endfor %}

        </nav>

        <div class="slider__nav">
{#            <input#}
{#                    alt="element précédent"#}
{#                    id="btn-prec"#}
{#                    src="assets/svgs/picto-groupe-pointe-off.svg"#}
{#                    type="image"/>#}
            <div class="separation"></div>
{#            <input#}
{#                    alt="element suivant"#}
{#                    id="btn-next"#}
{#                    src="assets/svgs/picto-groupe-pointe-off.svg"#}
{#                    type="image"/>#}
        </div>

    </section>


    <!-- SECTION CONTACT -->
    <section id="contact">

        <h2>Vous avez un projet ?</h2>

        <h3>N’hesitez pas a nous
            <a class="btn btn-page-nav" href="/pages/contact.html">Contacter</a>
        </h3>

    </section>

</main>

