<section class="slogan home">

    <div class="container">

        <h1>Accolade est une scop spécialisée dans le développement de solutions Web et Mobile</h1>

        <p>Notre engagement : créer des solutions technologiques innovantes tout en tenant compte de l'impact
            environnemental, social et éthique.</p>

    </div>

</section>

<section class="amorce">

    <div class="container">

        <div class="blog">

            <div class="card --blog">

                <h1>Titre complet de l’article pouvant être long selon les cas</h1>

                <div class="card --identity">

                    <figure>
                        <img src="/assets/imgs/JEROME.jpg"/>
                    </figure>

                    <aside>
                        <div>Prénom NOM</div>
                        <date>xx/xx/xxxx</date>
                    </aside>

                </div>

            </div>

            <div class="card --blog">

                <h1>Titre complet de l’article pouvant être long selon les cas</h1>

                <div class="card --identity">

                    <figure>
                        <img src="/assets/imgs/JEROME.jpg"/>
                    </figure>

                    <aside>
                        <div>Prénom NOM</div>
                        <date>xx/xx/xxxx</date>
                    </aside>

                </div>

            </div>

            <div class="card --blog">

                <h1>Titre complet de l’article pouvant être long selon les cas</h1>

                <div class="card --identity">

                    <figure>
                        <img src="/assets/imgs/JEROME.jpg"/>
                    </figure>

                    <aside>
                        <div>Prénom NOM</div>
                        <date>xx/xx/xxxx</date>
                    </aside>

                </div>

            </div>

        </div>

        <div class="savoir-plus">
            <a href="/blog/" class="btn">
                <span>TOUS LES ARTICLES DU BLOG</span>
                <span class="material-icons">arrow_right_alt</span>
            </a>
        </div>

    </div>

</section>

<section>

    <div class="container">

        <div class="card --valeurs">

            <h1>Et si l'on choisissait ensemble</h1>

            <h2>la stabilité - le développement durable - l'éco-conception - l'engagement local
                l'accompagnement et l'analyse du cycle de vie de vos applicatifs ?</h2>

            <p>En tant que coopérative, Accolade est fondée sur des principes d'équité, de solidarité et de coopération.
                Nous encourageons les projets locaux et soutenons les initiatives qui visent à améliorer la vie de ceux
                qui nous entourent et nous nous engageons à continuer à innover pour contribuer à un avenir plus durable
                et plus équitable pour tous.</p>


            <ol class="valeurs-list">

                <li>
                    <a href="/valeurs#RESPONSABLE">
                        <ul>
                            <li class="title">Responsable</li>
                            <li>Partenaire green</li>
                            <li>Transport en train</li>
                            <li>Visio privilégiée</li>
                            <li>Télétravail à volonté</li>
                            <li>Réduction tarifaires pour les membres de l'ESS</li>
                        </ul>
                    </a>
                </li>

                <li>
                    <a href="/valeurs#SOLIDAIRE">
                        <ul>
                            <li class="title">Solidaire</li>
                            <li>10% des bénéfices reversés aux associations</li>
                            <li>Réduction tarifaires pour les membres de l'ESS</li>
                        </ul>
                    </a>
                </li>

                <li>
                    <a href="/valeurs#PERINITE">
                    <ul>
                        <li class="title">Pérenité</li>
                        <li>Pas de dividendes</li>
                        <li>45% des bénéfices réinvesti dans la société</li>
                        <li>45% reversés aux salariés</li>
                    </ul>
                    </a>
                </li>

                <li>
                    <a href="/valeurs#EQUITE">
                        <ul>
                            <li class="title">Equitable</li>
                            <li>Ratio de salaire : 1/2</li>
                            <li>Salaire connu de tous</li>
                        </ul>
                    </a>
                </li>

                <li>
                    <a href="/valeurs#BIENETRE">
                        <ul>
                            <li class="title">Bien-être au travail</li>
                            <li>6 semaines de congés payés</li>
                            <li>35h / semaine</li>
                            <li>Abonnement transport en commun remboursé à 50%</li>
                            <li>Mutuelle prise en charge à 100% par la société</li>
                        </ul>
                    </a>
                </li>

                <li>
                    <a href="/valeurs#DEMOCRATIE">
                    <ul>
                        <li class="title">Démocratique</li>
                        <li>Le PDG est élu et révocable</li>
                        <li>Salaires décidés par les salariés</li>
                        <li>Choix des projets par les salariés</li>
                    </ul>
                    </a>
                </li>

            </ol>

            <div class="savoir-plus">
                <a href="/valeurs/" class="btn">
                    <span>TOUTES LES VALEURS ACCOLADE</span>
                    <span class="material-icons">chevron_right</span>
                </a>
            </div>

        </div>

    </div>

</section>

<section>

    <div class="container">

        <h1 class="big-title">Démarquez-vous dans un monde numérique en constante évolution</h1>

        <ol class="services-list">
            <li><a href="/services#DEVELOPPEMENT/"><span>Développements </span> <div>Web & Mobile</div></a></li>
            <li><a href="/services#FORMATION/"><span>Formation</span> <div>& Encadrement d'équipe</div></a></li>
            <li><a href="/services#AUDIT/"><span>Conseils</span> <div>& Audit</div></a></li>
            <li><a href="/services#LABORATOIRE/"><span>Laboratoire</span> <div>& Projets interne</div></a></li>
        </ol>

        <div class="savoir-plus">
            <a href="/services/" class="btn">
                <span>TOUS LES SERVICES ACCOLADE</span>
                <span class="material-icons">chevron_right</span>
            </a>
        </div>

    </div>

</section>

<section>

    <h1 class="big-title">Ils nous font confiance</h1>

    <div class="collection">
        <img src="/assets/imgs/logo-grand-est.jpg" alt="logo GRAND-EST" width="114" height="47">
        <img src="/assets/imgs/logo-up-kalidea.jpg" alt="logo KALIDEA" width="165" height="47">
    </div>

</section>

